<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotus - Cryptocurrency Wallet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>

    <div id="global">

        <div class="home-header">
            <div class="home-name">
                <img src="{{ url_for('static', filename='media/lotusLogo.png') }}" class="logo-lotus"/>
                <div class="name-container">
                    <h1>Lotus</h1>
                    <h2>CRYPTOCURRENCY WALLET</h2>
                </div>
            </div>
            <div class="home-routes">
                <a href="/" class="route">Home</a>
                <a href="/product" class="route">Product</a>
                <a href="/about" class="route">About</a>
                <a href="#" class="route">Contact us</a>
            </div>
        </div>

        
        <div class="about-intro">
            <img src="{{ url_for('static', filename='media/aboutIntroVisual.png') }}" class="about-Intro-Visual"/>
        </div>
        <div class="about-intro-banner">
            <div class="about-intro-point-container">
                <h4>Integrity</h4>
                <p>Anchored in transparency</p>
            </div>
            <div class="about-intro-point-container">
                <h4>Inclusivity</h4>
                <p>Fostering a community</p>
            </div>
            <div class="about-intro-point-container">
                <h4>Adaptability</h4>
                <p>Embrace change confidently</p>
            </div>
        </div>

        <div class="about-brand-manifesto">
            <h3>Lotus's Journey with you</h3>
            <div class="brand-manifesto-text">
                <p>Step into the crypto realm where your action speaks with confidence. Create your story with Lotus, where every step becomes a purposeful stride toward a future driven with purpose and connection. In our crypto platform, powered by the state-of-the-art, Polkadot Technology, Lotus transcends mere protection; it crafts an experience where integrity is held in the highest regard. Your journey unfolds as a masterpiece, shaped by every interaction and decision. Let your moments be written with purpose, expanding the possibilities for rooted connection.</p>
                <p>This is more than a digital narrative; its your life story, woven with moments of purpose and connection. Your journey is a nurtured legacy, and each moment is a purposeful step toward the fulfillment of your aspirations. With Lotus, your crypto wallet becomes the vessel for crafting a legacy: a digital pioneer of the new era.</p>
            </div>
        </div>

        <div class="about-story">
            <img src="{{ url_for('static', filename='media/aboutIntroBackground.png') }}" class="about-story-visual"/>
            <div class="about-story-text">
                <h4>About us</h4>
                <p>Lotus stands as a beacon in the digital realm, leading with dependability and a streamlined user experience. It redefines digital navigation, offering a seamless and intuitive platform that simplifies the crypto journey, making it accessible and enjoyable for users of all levels.</p>
                <p>At its heart, Lotus is built on a foundation of reliability and transparency, ensuring that every interaction is secure, fair, and clear. With Lotus, your digital experience is not just facilitated; it's enriched, enabling you to focus on what truly matters—achieving your goals in a digital landscape.</p>
            </div>
        </div>

        <div class="statement-banner">
            <h4>Statement</h4>
            <p>We are Lotus. We help navigate your journey, in allowing financial engagements to be more trustworthy, <br/> protecting your interactions through Polkadot technology to ensure a smooth and confident process.</p>
        </div>

        <div class="create-story">
            <div class="create-story-upper">
                <div class="create-story-text">
                    <h4>Create your story</h4>
                    <p>Imagine a world where each step you take not only connects you to the blockchain but also grants you protection and freedom, transforming everyday moments into safe, boundless explorations in a digital universe. This is the essence of creating your story with Lotus, a platform that brings the revolutionary promise of blockchain into the palm of your hand. Here, freedom and security coexist, offering you a unique opportunity to navigate the digital landscape with confidence and clarity. Lotus empowers you to leave a mark in the world, carving out a legacy in a space where boundaries are redefined. It's an invitation to experience the future of interactions, where the digital and the physical realms converge, and your story unfolds on the most innovative canvas yet.</p>
                </div>
                <img src="{{ url_for('static', filename='media/storyImage.png') }}" class="create-story-visual"/>
            </div>
            <div class="create-story-banner">
                <div class="create-story-point-container">
                    <div class="create-story-point-container-title">
                        <img src="{{ url_for('static', filename='media/freedomIcon.png') }}"/>
                        <h4>Securing Freedom</h4>
                    </div>
                    <p>Explore within the digital universe with the confidence that their data remains their own, free from the oversight of centralized entities</p>
                </div>
                <div class="create-story-point-container">
                    <div class="create-story-point-container-title">
                        <img src="{{ url_for('static', filename='media/connectivityIcon.png') }}"/>
                        <h4>Global Connectivity</h4>
                    </div>
                    <p>Access opportunities and collaborations worldwide, making the digital world a more inclusive and diverse space</p>
                </div>
                <div class="create-story-point-container">
                    <div class="create-story-point-container-title">
                        <img src="{{ url_for('static', filename='media/empowermentIcon2.png') }}"/>
                        <h4>Personal Empowerment</h4>
                    </div>
                    <p>Navigate the blockchain with confidence, leveraging its transparency and security to pursue personal goals and interactions</p>
                </div>
            </div>

        </div>

        <div class="our-promise">
            <h4>
                Our promise
            </h4>
            <p>
                We are Lotus. We help navigate your journey, in allowing financial engagements to be more trustworthy, <br>protecting your interactions through Polkadot technology to ensure a smooth and confident process. 
            </p>
        </div>

        <div class="brand-identity">
            <div>

            </div>
            <div>
                <div>
                    <img/>

                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-left">
                <div class="footer-left-top">
                    <img src="{{ url_for('static', filename='media/lotusLogo.png') }}"/>
                    <h5>
                        Lotus Cryptocurrency Wallet
                    </h5>
                </div>
                <h6>
                    Est 2024
                </h6>
                <div class="footer-left-socials">
                    <img src="{{ url_for('static', filename='media/linkedInLogo.png') }}"/>
                    <img src="{{ url_for('static', filename='media/instagramLogo.png') }}"/>
                    <img src="{{ url_for('static', filename='media/twitterLogo.png') }}"/>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-routes">
                    <a href="/" class="footer-single-route">Home</a>
                    <hr/>
                    <a href="/product" class="footer-single-route">Product</a>
                    <hr/>
                    <a href="/about" class="footer-single-route">About</a>
                    <hr/>
                    <a href="#" class="footer-single-route">Contact us</a>
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
                </p>
            </div>
        </div>

    </div>
    
</body>
</html>