<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotus - Cryptocurrency Wallet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>

    <div id="global">

        <div class="home-header">
            <div class="home-name">
                <img src="{{ url_for('static', filename='media/lotusLogo.png') }}" class="logo-lotus"/>
                <div class="name-container">
                    <h1>Lotus</h1>
                    <h2>CRYPTOCURRENCY WALLET</h2>
                </div>
            </div>
            <div class="home-routes">
                <a href="/" class="route">Home</a>
                <a href="/product" class="route">Product</a>
                <a href="/about" class="route">About</a>
                <a href="#" class="route">Contact us</a>
            </div>
        </div>

        
        <div class="about-intro">
            <img src="{{ url_for('static', filename='media/aboutIntroVisual.png') }}" class="about-Intro-Visual"/>
        </div>
        <div class="about-intro-banner">
            <div class="about-intro-point-container">
                <h4>Connectedness</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit metus, gravida a ornare a, accumsan vel diam.</p>
            </div>
            <div class="about-intro-point-container">
                <h4>Connectedness</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit metus, gravida a ornare a, accumsan vel diam.</p>
            </div>
            <div class="about-intro-point-container">
                <h4>Connectedness</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit metus, gravida a ornare a, accumsan vel diam.</p>
            </div>
        </div>

        <div class="about-brand-manifesto">
            <h3>Lotus's Journey with you</h3>
            <div class="brand-manifesto-text">
                <p>Step into the crypto realm where your action speaks with confidence. Create your story with Lotus, where every step becomes a purposeful stride toward a future driven with purpose and connection. In our crypto platform, powered by the state-of-the-art, Polkadot Technology, Lotus transcends mere protection; it crafts an experience where integrity is held in the highest regard. Your journey unfolds as a masterpiece, shaped by every interaction and decision. Let your moments be written with purpose, expanding the possibilities for rooted connection.</p>
                <p>This is more than a digital narrative; its your life story, woven with moments of purpose and connection. Your journey is a nurtured legacy, and each moment is a purposeful step toward the fulfillment of your aspirations. With Lotus, your crypto wallet becomes the vessel for crafting a legacy: a digital pioneer of the new era.</p>
            </div>
        </div>

        <div class="about-story">
            <img src="{{ url_for('static', filename='media/experienceVisual.png') }}" class="about-story-visual"/>
            <div class="about-story-text">
                <h4>About us</h4>
                <p>Lorem ipsum dolor sit amet, consecteteur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim vaniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut Lorem ipsum dolor sit amet, consecteteur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim vaniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut</p>
            </div>
        </div>

        <div class="statement-banner">
            <h4>Statement</h4>
            <p>We are Lotus. We help navigate your journey, in allowing financial engagements to be more trustworthy, protecting your interactions through Polkadot technology to ensure a smooth and confident process.</p>
        </div>

        <div class="create-story">
            <div class="create-story-upper">
                <div class="create-story-text">
                    <h4>Create your story</h4>
                    <p>Lorem ipsum dolor sit amet, consecteteur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim vaniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut Lorem ipsum dolor sit amet, consecteteur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim vaniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut Lorem ipsum dolor sit amet, consecteteur adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
                <img src="{{ url_for('static', filename='media/experienceVisual.png') }}" class="create-story-visual"/>
            </div>
            <div class="create-story-banner">
                <div class="create-story-point-container">
                    <h4>Experience</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit metus, gravida a ornare a, accumsan vel diam.</p>
                </div>
                <div class="create-story-point-container">
                    <h4>Experience</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit metus, gravida a ornare a, accumsan vel diam.</p>
                </div>
                <div class="create-story-point-container">
                    <h4>Experience</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc elit metus, gravida a ornare a, accumsan vel diam.</p>
                </div>
            </div>

        </div>


    </div>
    
</body>
</html>