<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konnex - Editorial</title>
    <link rel="icon" type="image/png" media="(prefers-color-scheme: dark)" href="{{url_for('static', filename='media/konnexLogoInverted.png')}}">
    <link rel="icon" type="image/png" media="(prefers-color-scheme: light)" href="{{url_for('static', filename='media/KonnexLogoo.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/articleAdmin.css') }}">
    <script src="{{url_for('static', filename='javascript/articles.js')}}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/image-compressor@2/dist/image-compressor.min.js"></script>
    <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://p.usestyle.ai" defer></script>
    <meta name="google-site-verification" content="7s8i6Cai8gnVc6T4zt-t5-c9fIcB-lXHdwNuqHhAIFI" />
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-VCBZXC9R3T');
    </script>
</head>
<body>


    <div id="global">
    
        <div class="portal-container">


            <div class="article-dashboard">
                <div class="side-nav">
                    <div class="home-name">
                        <img src="{{ url_for('static', filename='media/KonnexLogoInverted.png') }}" class="logo-lotus"/>
                        <div class="name-container">
                            <h1>KONNEX</h1>
                            <h2>CRYPTOCURRENCY WALLET</h2>
                        </div>
                    </div>
                    <h2>Article Portal</h2>
                </div>
                <div class="header-tools">
                    <div class="tools-list">
                        <a>Title</a>
                        <a>Header</a>
                        <a>Paragraph</a>
                        <a>Image</a>
                        <a>Tag</a>
                    </div>
                    <div class="post-edit">
                        <span>Edit</span>
                        <button><img/></button>
                    </div>
                </div>
            </div>


            <div class="body-portal">
                <div class="features-body">
                    <div class="features-list">
                        <a href="{{ url_for('articles_adminDashboard', feature='thumbnail') }}">Thumbnail</a>
                        <a href="{{ url_for('articles_adminDashboard', feature='content') }}">Content</a>
                        <a href="{{ url_for('articles_adminDashboard', feature='preview') }}">Preview</a>
                        <a href="{{ url_for('articles_adminDashboard', feature='schedule') }}">Schedule</a>
                        <a href="{{ url_for('articles_adminDashboard', feature='articlesList') }}">List</a>
                        <a href="#">Submit</a>
                    </div>
                    <a href="/admin/article">Logout</a>
                </div>


                <!-- Dynamic Content Section -->
                <div class="content-section">
                    <!-- {% block articleContent %} -->
                        {% if feature == 'thumbnail' %}
                            {% include 'admin/articleThumbnail.html' %}
                        {% elif feature == 'content' %}
                            {% include 'admin/articleContent.html' %}
                        {% elif feature == 'preview' %}
                            {% include 'admin/articlePreview.html' %}
                        {% elif feature == 'schedule' %}
                            {% include 'admin/articleSchedule.html' %}
                        {% elif feature == 'articlesList' %}
                            {% include 'admin/articleList.html' %}
                        {% else %}
                            <h2>Select a feature to view its details</h2>
                        {% endif %}
                    <!-- {% endblock %} -->
                </div>
            </div>




        </div>
    </div>
    
</body>
</html>