<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://konnexwallet.io/contact_form" />
    <title>Contact Konnex Wallet | Secure Blockchain Support & FAQs</title>
    <meta name="description" content="Get in touch with Konnex Wallet for any questions or support. Learn about our blockchain features, security, and how Konnex protects your crypto transactions.">
    <link rel="icon" type="image/png" media="(prefers-color-scheme: dark)" href="{{url_for('static', filename='media/konnexLogoInverted.png')}}">
    <link rel="icon" type="image/png" media="(prefers-color-scheme: light)" href="{{url_for('static', filename='media/KonnexLogoo.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contactFormTablet.css') }}">
    <script src="{{url_for('static', filename='javascript/basicFunctionsMobile.js')}}" defer></script>
    <script src="https://p.usestyle.ai" defer></script>
    <meta name="google-site-verification" content="7s8i6Cai8gnVc6T4zt-t5-c9fIcB-lXHdwNuqHhAIFI" />
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-VCBZXC9R3T');
    </script>
</head>
<body>
    
    <div id="global">
        <div class="home-header fade-in">
            <div class="home-name">
                <img src="{{ url_for('static', filename='media/KonnexLogoo.png') }}" alt="Konnex Wallet logo - Blockchain and Crypto Wallet" class="logo-lotus"/>
                <div class="name-container">
                    <h1>KONNEX</h1>
                    <h2>CRYPTOCURRENCY WALLET</h2>
                </div>
            </div>
            <div class="home-routes fade-in">
                <a href="/" class="route-selected">Home</a>
                <a href="/crypto-wallet-features" class="route">Product</a>
                <a href="/about-konnex" class="route">About</a>
                <a href="/articles" class="route">Articles</a>
                <div class="dropdown">
                    <a href="#contact" class="route contact">Contact</a>
                    <div class="dropdown-content">
                        <a href="/contact-form">Contact Form</a>
                        <a href="/join-the-team">Join the team</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="customer-service-png">
            <img src="{{ url_for('static', filename='media/customerServiceImage.png') }}" class="customer-service-image"/>
        </div>

        <div class="contact-us">
            <h4>
                Contact Us
            </h4>
            {% if error_message %}
                <div class="error-message">
                    {% for error in error_message %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="contact-us-bottom">
                <div class="contact-us-form">
                    <h4>
                        Any questions or concerns
                    </h4>
                    
                    <form id="contactFormEmail" class="contact-form" action="/contact_form" method="POST">
                        <label class="contact-label">
                            <h4>
                                Name
                            </h4>
                            <input name="name" />
                        </label>
                        <label class="contact-label">
                            <h4>
                                Subject
                            </h4>
                            <input name="subject" />
                        </label>
                        <label class="contact-label">
                            <h4>
                                Email
                            </h4>
                            <input name="email" />
                        </label>
                        <label class="contact-body-label">
                            <h4>
                                Body
                            </h4>
                            <textarea name="body"></textarea>
                        </label>
                        <button>Submit</button>
                    </form>
                </div>
            </div>
                    
        
                <div class="faq">
                    <h4>
                        Frequently asked questions
                    </h4>
                    <div class="faq-questions">
                        <div class="faq-text fade-slide-up">
                            <h4>
                                How Secure Are My Funds and Personal Information in Konnex Wallet?
                            </h4>
                            <p>
                                The application employs advanced encryption and blockchain's decentralized nature to secure your funds and personal information, making it resistant to common threats and fraud.
                            </p>
                        </div>
                        <div class="faq-text fade-slide-up">
                            <h4>
                                What Control Do I Have Over My Personal Data in the App?
                            </h4>
                            <p>
                                You have full control over your personal data. The decentralized nature of blockchain ensures that your information is not stored centrally, minimizing the risk of unauthorized access.
                            </p>
                        </div>
                        <div class="faq-text fade-slide-up">
                            <h4>
                                What Are the Benefits of Using a Blockchain Banking Application Over Traditional Banking?
                            </h4>
                            <p>
                                Blockchain banking applications offer advantages like reduced fees, faster transaction times, greater accessibility, and enhanced privacy and control over personal financial data.
                            </p>
                        </div>
                        <div class="faq-text fade-slide-up">
                            <h4>
                                Can I use the same Konnex wallet for multiple cryptocurrencies?
                            </h4>
                            <p>
                                Yes, Konnex wallets support multiple cryptocurrencies, thanks to Polkadot's interoperability features. Ensure your chosen wallet supports the specific cryptocurrencies you intend to manage.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            

                <div class="footer">
                    <div class="footer-left fade-slide-up">
                        <div class="footer-left-top">
                            <img src="{{ url_for('static', filename='media/konnexLogoo.svg') }}"/>
                            <h5>
                                Konnex Cryptocurrency Wallet
                            </h5>
                        </div>
                    </div>
                    <div class="footer-right fade-slide-up">
                        <!-- <div class="footer-routes">
                            <a href="/" class="footer-single-route">
                                <h7>
                                    Home
                                </h7>
                            </a>
                            <hr/>
                            <a href="/product" class="footer-single-route">
                                <h7>
                                    Product
                                </h7>
                            </a>
                            <hr/>
                            <a href="/about" class="footer-single-route">
                                <h7>
                                    About
                                </h7>
                            </a>
                            <hr/>
                            <a href="#" class="footer-single-route">
                                <h7>
                                    Contact us
                                </h7>
                            </a>
                        </div> -->
                        <p>
                            All content on this website is the property of Konnex, unless otherwise noted. Any unauthorized use, reproduction, or distribution of content is strictly prohibited. By accessing this website, you agree to our 
                            <a href="https://app.termly.io/policy-viewer/policy.html?policyUUID=6603c3ef-1dcf-47c1-83a8-6f74bb743b0c" target="_blank">Terms and Conditions</a>
                            and
                            <a href="https://app.termly.io/policy-viewer/policy.html?policyUUID=48e4ca19-bdbf-4ce1-af30-52a06ed706da" target="_blank">Privacy policy</a>
                        </p>
                    </div>
                    <!-- <div class="footer-left-socials">
                        <img src="{{ url_for('static', filename='media/linkedInLogo.png') }}"/>
                        <img src="{{ url_for('static', filename='media/instagramLogo.png') }}"/>
                        <img src="{{ url_for('static', filename='media/twitterLogo.png') }}"/>
                    </div> -->
                    <h6>
                        Est 2024
                    </h6>
                </div>

            
        




    </div>


</body>
</html>