<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konnex - Cryptocurrency Wallet</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='media/konnexLogoInverted.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
    <script src="{{url_for('static', filename='javascript/basicFunctions.js')}}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/image-compressor@2/dist/image-compressor.min.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-VCBZXC9R3T');
    </script>

</head>
<body>
    
    <div id="global">

        <div class="home-header fade-in">
            <div class="home-name">
                <img src="{{ url_for('static', filename='media/KonnexLogoo.png') }}" class="logo-lotus"/>
                <div class="name-container">
                    <h1>KONNEX</h1>
                    <h2>CRYPTOCURRENCY WALLET</h2>
                </div>
            </div>
            <div class="home-routes fade-in">
                <a href="/" class="route-selected">Home</a>
                <a href="/product" class="route">Product</a>
                <a href="/about" class="route">About</a>
                <div class="dropdown">
                    <a href="#contact" class="route contact">Contact us</a>
                    <div class="dropdown-content">
                        <a href="/contact_form">Contact Form</a>
                        <a href="/join_the_team">Join the team</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro-container">
            <div class="intro-text-container fade-slide-up">
                <h3>"Turn Your Crypto into Everyday Currency with Konnex Wallet"</h3>
                <h4>Join the waitlist and start using your digital assets effortlessly for transactions, anytime, anywhere
                </h4>
                <!-- <a href="#join_waitlist" class="join-button"><img src="{{ url_for('static', filename='media/joinButton.png') }}" class="join-button-icon"/></a> -->
                <a href="#join_waitlist" class="join-waitlist-button">Join the Waitlist Now</a>
            </div>

            <div class="intro-visual-container">
                <img src="{{ url_for('static', filename='media/konnexIphoneMockup5.png') }}"/>
            </div>
        </div>

        <div class="banner-small-container">
            <p>SECURE NETWORKING</p>
            <img src="{{ url_for('static', filename='media/diamondBullet.png') }}" class="diamond-bullet"/>
            <p>EASIER ACCESSIBILITY</p>
            <img src="{{ url_for('static', filename='media/diamondBullet.png') }}" class="diamond-bullet"/>
            <p>QUICKER SERVICE</p>
        </div>


        <div class="dependable-container">
            <img src="{{ url_for('static', filename='media/dependableImage3.png') }}"/>
            <div class="dependable-text-container fade-slide-up">
                <h4>From Shopping Sprees to Daily Needs—<br>Pay Securely with Crypto</h4>
                <div class="dependable-paragraph">
                    <p>Konnex Wallet is designed to make using your crypto as easy as spending cash. Whether it’s for a coffee or a big purchase, our platform allows you to turn your digital assets into currency for everyday transactions—securely and seamlessly.

                    Experience a wallet that’s built for your daily needs, empowering you to use crypto confidently in the real world, wherever and whenever you need it.</p>
                </div>
            </div>
        </div>


        <div class="purpose-banner" data-back-btn-url="{{ url_for('static', filename='media/backArrowFeatures.png') }}" data-one-icon-url="{{ url_for('static', filename='media/oneIcon.png') }}"
        data-two-icon-url="{{ url_for('static', filename='media/twoIcon.png') }}"
        data-three-icon-url="{{ url_for('static', filename='media/threeIcon.png') }}">
            <div class="purpose-text-container fade-slide-up">
                <h4>Key Transaction Features</h4>
                <div class="key-transaction-features">
                    <div class="key-transaction-feature" data-feature="retail">
                        <img src="{{ url_for('static', filename='media/quickPayIcon1.png') }}"/>
                        <div class="key-transaction-feature-text">
                            <h2>
                                Retail transactions
                            </h2>
                            <h6>
                                Effortless checkout with cryptocurrency
                            </h6>
                        </div>
                    </div>
                    <div class="key-transaction-feature" data-feature="peer-to-peer">
                        <img src="{{ url_for('static', filename='media/transferIconFeature1.png') }}"/>
                        <div class="key-transaction-feature-text">
                            <h2>
                                Peer to peer transactions
                            </h2>
                            <h6>
                                Instant crypto transfers, connect seamlessly
                            </h6>
                        </div>
                    </div>
                    <div class="key-transaction-feature" data-feature="group">
                        <img src="{{ url_for('static', filename='media/groupIcon1.png') }}"/>
                        <div class="key-transaction-feature-text">
                            <h2>
                                Group transactions
                            </h2>
                            <h6>
                                Group payments made easy, one transaction
                            </h6>
                        </div>
                    </div>
                </div>
                <div id="transaction-description" class="transaction-description hidden">
                    <!-- <button id="back-btn">Go Back</button> -->
                    <p id="description-text">Description goes here...</p>
                    <div id="feature-steps" class="feature-steps"></div>
                </div>
            </div>
            <img src="{{ url_for('static', filename='media/konnexIphoneMockup4.png') }}"/>
        </div>

        <div class="blockchain-container">

            <div class="blockchain-header-container">
                <div class="blockchain-header">
                    <img src="{{ url_for('static', filename='media/polkadotNameTag.png') }}" class="polkadot-nameTag"/>
                    <hr/>
                    <img src="{{ url_for('static', filename='media/konnexlogoooo.png') }}" class="lotus-nameTag-header"/>
                </div>
                <h4>Bridging innovation with trust</h4>
            </div>


            <div class="blockchain-info fade-slide-up">
                <p>Polkadot is changing the game of digital connectivity. Imagine a world where different blockchains effortlessly communicate, creating a unified, seamless digital ecosystem. With Polkadot, this vision becomes reality—transactions are faster, fees are lower, and security is rock-solid, thanks to its cutting-edge architecture.

                At the heart of it all is the Relay Chain, the powerhouse that connects and secures multiple blockchains. Meanwhile, Parachains—independent blockchains running in parallel—harness the full power of Polkadot's security and interoperability. Together, they form a dynamic, scalable network where messages and value flow smoothly, unlocking a truly connected blockchain universe.</p>
            </div>

            <div class="blockchain-features-list">
                <div class="blockchain-feature fade-slide-up">
                    <div class="blockchain-feature-images">
                        <img src="{{ url_for('static', filename='media/securityIcon.png') }}"/>
                    </div>
                    <h5>Secure Networking</h5>
                    <p>Availability and validity scheme allow chains to interact with each other in a meaningful way.</p>
                </div>
                <div class="blockchain-feature fade-slide-up">
                    <div class="blockchain-feature-images-2">
                        <img src="{{ url_for('static', filename='media/interoperabilityIcon1.png') }}" class="interoperability-Icon-1"/>
                    </div>
                    <h5>Interoperability</h5>
                    <p>Polkadot enables cross-blockchain transfers of any type of data or asset, not just tokens.</p>
                </div>
                <div class="blockchain-feature-last fade-slide-up">
                    <div class="blockchain-feature-last-images">
                        <img src="{{ url_for('static', filename='media/energyEfficiencyIcon.png') }}"/>
                    </div>
                    <h5>High Energy Efficiency</h5>
                    <p>Using the equivalent of ~6.6 US households worth of energy per year, Polkadot has the lowest carbon footprint.</p>
                </div>
            </div>
        </div>

        <div class="referral-information">
           <div class="referral-steps">
                <!-- <div class="referral-step"> -->
                    <!-- <h5>1</h5> -->
                    <h5>Shape your future with our platform and exclusive perks</h5>
                <!-- </div> -->
                <!-- <div class="referral-step"> -->
                    <!-- <h5>2</h5> -->
                    <!-- <h6>Share referral code</h6> -->
                <!-- </div> -->
                <!-- <div class="referral-step-last"> -->
                    <!-- <h5>3</h5> -->
                    <!-- <h6>Earn money</h6> -->
                <!-- </div> -->
           </div>

           <div class="referral-explanation">
                <!-- <img src="{{ url_for('static', filename='media/konnexIphoneMockup1.png') }}"/> -->

                <div class="referral-details">
                    <div class="referral-title">
                        <h5>Perks Program</h5>
                        <!-- <h6>Where your influence brings rewards</h6> -->
                    </div>
                    
                    <p>Unlock exclusive perks as you engage with Konnex! Our rewards program grows with you—every transaction you make earns you points towards special perks and unique offers. The more you use Konnex, the more you unlock, making your crypto journey even more rewarding. Start maximizing your benefits today by joining Konnex and watching your perks grow with every transaction!</p>
                </div>

           </div>
        </div>


            <div class="join-the-community">
                <div class="join-the-community-perks fade-slide-up">
                    <div class="join-the-community-perks-headline">
                        <h4>
                            Pioneers: Unlock Exclusive Early Access
                        </h4>
                        <p>
                            Step into the future with us and secure your spot on the waitlist for the Pioneers. Together, let's transform every transaction from a routine task into an enriching experience.
                        </p>
                    </div>
                    <div class="join-the-community-perks-description">
                        <div class="join-the-community-perks-description-first">
                            <img src="{{ url_for('static', filename='media/bulletPointIcon.png') }}"/>
                            <h4>
                                Accelerate with 45% Faster Transaction Finalization
                            </h4>
                        </div>
                        <p>
                            Benefit from a 45% increase in transaction speeds, ensuring your operations are faster and more responsive. 
                        </p>
                        <div class="join-the-community-perks-description-second">
                            <img src="{{ url_for('static', filename='media/bulletPointIcon.png') }}"/>
                            <h4>
                                Enjoy Exclusive 15% Discount on Transaction Fees
                            </h4>
                        </div>
                        <p>
                            Gain an exclusive 15% discount on transaction fees, directly impacting your bottom line. 
                        </p>
                        <div class="join-the-community-perks-description-second">
                            <img src="{{ url_for('static', filename='media/bulletPointIcon.png') }}"/>
                            <h4>
                                Gain Early Access to Promotional and Seasonal Discounts
                            </h4>
                        </div>
                        <p>
                            As a Pioneer, enjoy early access to select promotional and seasonal discounts, designed to provide savings and unique opportunities.
                        </p>
                    </div>
                </div>

                <div id="join_waitlist" class="join-the-community-form">
                    <div class="join-header fade-slide-up">
                        <h4>Join the Waitlist</h4>
                        <h5>Sign up for any early benefits</h5>
                    </div>
                    <div class="perks-visual">
                        <img src="{{ url_for('static', filename='media/joinTheCommunityPerks.png') }}" class="perks-timeline-visual"/>
                        <div class="perks-list-visual">
                            <div class="perks-list-visual-text">
                                <p>
                                    Perks
                                </p>
                                <h7>
                                    1
                                </h7>
                            </div>
                            <div class="perks-list-visual-text">
                                <p>
                                    Perks
                                </p>
                                <h7>
                                    2
                                </h7>
                            </div>
                            <div class="perks-list-visual-text-third">
                                <p>
                                    Perks
                                </p>
                                <h7>
                                    3
                                </h7>
                            </div>
                        </div>
                    </div>
                    <!-- {% if error_message %}
                        <div class="error-message">
                            {% for error in error_message %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %} -->
                    <div class="join-form-container">
                        <form id="join-form-function" class="join-form" action="/waitlist_form" method="POST">
                            <label class="join-label">
                                First Name
                                <input name="first_name" />
                            </label>
                            <label class="join-label">
                                Last Name
                                <input name="last_name" />
                            </label>
                            <label class="join-label">
                                Email
                                <input name="email" />
                            </label>
                            <button type="submit" class="join-form-button">
                                <span>Join the Waitlist</span>
                            </button>
                        </form>
                        <p>By signing up for the waitlist, you agree to allow Konnex to utilize the provided data for application development purposes. Your privacy and data security are of importance to us, and we adhere to strict legal and ethical standards in handling your information.</p>
                    </div>
                </div>
        </div>

        <div class="footer">

            <div class="footer-left fade-slide-up">
                <div class="footer-left-top">
                    <img src="{{ url_for('static', filename='media/KonnexLogoo.webp') }}"/>
                    <h5>
                        Konnex Cryptocurrency Wallet
                    </h5>
                </div>
                <h6>
                    Est 2024
                </h6>
                <div class="footer-left-socials">
                    <img src="{{ url_for('static', filename='media/linkedInLogo.png') }}"/>
                    <img src="{{ url_for('static', filename='media/instagramLogo.png') }}"/>
                    <img src="{{ url_for('static', filename='media/twitterLogo.png') }}"/>
                </div>
            </div>

            <div class="footer-right fade-slide-up">
                <div class="footer-routes">
                    <a href="/" class="footer-single-route">Home</a>
                    <hr/>
                    <a href="/product" class="footer-single-route">Product</a>
                    <hr/>
                    <a href="/about" class="footer-single-route">About</a>
                    <hr/>
                    <a href="#" class="footer-single-route">Contact us</a>
                </div>
                <p>
                    All content on this website is the property of Konnex, unless otherwise noted. Any unauthorized use, reproduction, or distribution of content is strictly prohibited. By accessing this website, you agree to our 
                    <a href="https://app.termly.io/policy-viewer/policy.html?policyUUID=6603c3ef-1dcf-47c1-83a8-6f74bb743b0c" target="_blank">Terms and Conditions</a>
                    and
                    <a href="https://app.termly.io/policy-viewer/policy.html?policyUUID=48e4ca19-bdbf-4ce1-af30-52a06ed706da" target="_blank">Privacy policy</a>
                </p>
            </div>
            
        </div>


    </div>


</body>
</html>