<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotus - Cryptocurrency Wallet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>
<body>
    
    <div id="global">

        <div class="home-header">
            <div class="home-name">
                <img src="{{ url_for('static', filename='media/lotusLogo.png') }}" class="logo-lotus"/>
                <div class="name-container">
                    <h1>Lotus</h1>
                    <h2>CRYPTOCURRENCY WALLET</h2>
                </div>
            </div>
            <div class="home-routes">
                <a href="/" class="route">Home</a>
                <a href="/product" class="route">Product</a>
                <a href="/about" class="route">About</a>
                <a href="#" class="route">Contact us</a>
            </div>
        </div>

        <div class="intro-container">
            <div class="intro-text-container">
                <h3>"Your guide to a new era of financial interactions with blockchain, using the state-of-the-art, Polkadot Technology, to instill confidence with engagements."</h3>
                <h4>Committed to bridging people and blockchain, we bring clarity and drive toward an accessible and trusted journey
                </h4>
                <a class="join-button"><img src="{{ url_for('static', filename='media/joinButton.png') }}" class="join-button-icon"/></a>
            </div>

            <div class="intro-visual-container">
                <img src="{{ url_for('static', filename='media/openPageVisual.png') }}"/>
            </div>
        </div>

        <div class="banner-small-container">
            <p>SECURE NETWORKING</p>
            <img src="{{ url_for('static', filename='media/diamondBullet.png') }}" class="diamond-bullet"/>
            <p>EASIER ACCESSIBILITY</p>
            <img src="{{ url_for('static', filename='media/diamondBullet.png') }}" class="diamond-bullet"/>
            <p>QUICKER SERVICE</p>
        </div>


        <div class="dependable-container">
            <img src="{{ url_for('static', filename='media/builtToBeDependableReplace.png') }}"/>
            <div class="dependable-text-container">
                <h4>Built to be dependable</h4>
                <div class="dependable-paragraph">
                    <p>In the realm of digital platforms, Lotus emphasizes on creating a dependable environment. It's designed to offer a straightforward experience, ensuring that users can navigate with ease and clarity.</p>
                    <p>Every element within Lotus is streamlined to minimize complexity, making it accessible to a wide range of users. This approach not only simplifies the digital journey but also reinforces a sense of stability in every interaction, fostering an environment where users can focus on their goals without distraction.</p>
                </div>
            </div>
        </div>


        <div class="purpose-banner">
            <div class="purpose-text-container">
                <h4>Purpose</h4>
                <p>To craft an immersive experience that weaves integrity into every interaction, enabling you to forge a life story of purpose and connection in the digital frontier.</p>
            </div>
            <img src="{{ url_for('static', filename='media/purposeVisual.png') }}"/>
        </div>

        <div class="blockchain-container">

            <div class="blockchain-header-container">
                <div class="blockchain-header">
                    <img src="{{ url_for('static', filename='media/polkadotNameTag.png') }}" class="polkadot-nameTag"/>
                    <hr/>
                    <img src="{{ url_for('static', filename='media/lotusNameTag.png') }}" class="lotus-nameTag"/>
                </div>
                <h4>Bridging innovation with trust</h4>
            </div>


            <div class="blockchain-info">
                <p>Polkadot redefines digital connectivity, seamlessly linking diverse blockchain networks to enable secure and efficient communication, fostering a unified and accessible digital ecosystem. Its architecture promises enhanced scalibility and speed, ensuring quick transaction times and lower fees, while its robust security model provides peace of mind through a collective security system.
                Polkadot's Relay Chain is the central hub that connects different blockchains, ensuring security and consensus across the network.Parachains are individual blockchains that run parallel within the Polkadot network, benefitting from the Relay Chain's security and interoperability features.Together, they form a scalable, decentralized network that enables different blockchains to transfer messages and value seamlessly, fostering a connected and versatile ecosystem.</p>
            </div>

            <div class="blockchain-features-list">
                <div class="blockchain-feature">
                    <img src="{{ url_for('static', filename='media/blueBox.png') }}" class="lotus-nameTag"/>
                    <h5>Secure Networking</h5>
                    <p>Availability and validity scheme allow chains to interact with each other in a meaningful way.</p>
                </div>
                <div class="blockchain-feature">
                    <img src="{{ url_for('static', filename='media/blueBox.png') }}" class="lotus-nameTag"/>
                    <h5>Interoperability</h5>
                    <p>Polkadot enables cross-blockchain transfers of any type of data or asset, not just tokens.</p>
                </div>
                <div class="blockchain-feature-last">
                    <img src="{{ url_for('static', filename='media/blueBox.png') }}" class="lotus-nameTag"/>
                    <h5>High Energy Efficiency</h5>
                    <p>Using the equivalent of ~6.6 US households worth of energy per year, Polkadot has the lowest carbon footprint.</p>
                </div>
            </div>
        </div>

        <div class="referral-information">
           <div class="referral-steps">
                <div class="first-referral-step">
                    <h5>
                        1
                    </h5>
                    <h6>
                        Invite your friends
                    </h6>
                </div>
                <div class="second-referral-step">
                    <h5>
                        2
                    </h5>
                    <h6>
                        Share referral code
                    </h6>
                </div>
                <div class="third-referral-step">
                    <h5>
                        3
                    </h5>
                    <h6>
                        Earn money
                    </h6>
                </div>
           </div>

           <div class="referral-explanation">
                <img src="{{ url_for('static', filename='media/referralMockup.png') }}"/>

                <div class="referral-details">
                    <div class="referral-title">
                        <h5>
                            Referral Program
                        </h5>
                        <h6>
                            Earn money through each referral
                        </h6>
                    </div>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu 
                    </p>
                </div>

           </div>

           <div class="join-the-community">
                <div class="join-the-community-perks">
                    <h5>
                        Perk 1
                    </h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci 
                    </p>
                </div>

                <div class="join-the-community-form">

                </div>
           </div>

        </div>


    </div>


</body>
</html>