<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotus - Cryptocurrency Wallet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepagePhone.css') }}">
    <script src="{{url_for('static', filename='javascript/basicFunctionsMobile.js')}}" defer></script>
</head>
<body>
    
    <div id="global">

        <div class="home-header">
            <div class="home-name">
                <div class="name-container">
                    <img src="{{ url_for('static', filename='media/lotusLogo.png') }}" class="logo-lotus"/>
                    <h1>Lotus</h1>
                </div>
                    <h2>CRYPTOCURRENCY WALLET</h2>
            </div>
            <div class="home-routes">
                <a href="/" class="route">Home</a>
                <a href="/product" class="route">Product</a>
                <a href="/about" class="route">About</a>
                <div class="dropdown">
                    <a href="#contact" class="route contact">Contact us</a>
                    <div class="dropdown-content">
                        <a href="/contact_form">Contact Form</a>
                        <a href="/join_the_team">Join the team</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro-container">
            
            <div class="intro-visual-container">
                <img src="{{ url_for('static', filename='media/openPageVisual.png') }}"/>
            </div>

            <div class="intro-text-container">
                <h3>"Your guide to a new era of financial interactions with blockchain, using the state-of-the-art, Polkadot Technology, to instill confidence with engagements."</h3>
                <h4>Committed to bridging people and blockchain, we bring clarity and drive toward an accessible and trusted journey
                </h4>
                <a class="join-button"><img src="{{ url_for('static', filename='media/joinButton.png') }}" class="join-button-icon"/></a>
            </div>
        </div>

        <div class="banner-small-container">
            <p>SECURE NETWORKING</p>
            <img src="{{ url_for('static', filename='media/diamondBullet.png') }}" class="diamond-bullet"/>
            <p>EASIER ACCESSIBILITY</p>
            <img src="{{ url_for('static', filename='media/diamondBullet.png') }}" class="diamond-bullet"/>
            <p>QUICKER SERVICE</p>
        </div>

        <div class="dependable-container">
            <img src="{{ url_for('static', filename='media/homeIntroVisualMobile.png') }}"/>
            <div class="dependable-text-container">
                <div class="dependable-paragraph">
                    <p>In the realm of digital platforms, Lotus emphasizes on creating a dependable environment. It's designed to offer a straightforward experience, ensuring that users can navigate with ease and clarity.</p>
                    <p>Every element within Lotus is streamlined to minimize complexity, making it accessible to a wide range of users. This approach not only simplifies the digital journey but also reinforces a sense of stability in every interaction, fostering an environment where users can focus on their goals without distraction.</p>
                </div>
            </div>
        </div>


        <div class="purpose-banner">
            <div class="purpose-text-container">
                <h4>Purpose</h4>
                <p>To craft an immersive experience that weaves integrity into every interaction</p>
            </div>
            <img src="{{ url_for('static', filename='media/purposeVisual.png') }}"/>
        </div>


        <div class="blockchain-container">

            <div class="blockchain-header-container">
                <div class="blockchain-header">
                    <img src="{{ url_for('static', filename='media/polkadotNameTag.png') }}" class="polkadot-nameTag"/>
                    <hr/>
                    <img src="{{ url_for('static', filename='media/lotusNameTag.png') }}" class="lotus-nameTag-header"/>
                </div>
                <h4>Bridging innovation with trust</h4>
            </div>


            <div class="blockchain-info">
                <p>Polkadot redefines digital connectivity, seamlessly linking diverse blockchain networks to enable secure and efficient communication, fostering a unified and accessible digital ecosystem. Its architecture promises enhanced scalibility and speed, ensuring quick transaction times and lower fees, while its robust security model provides peace of mind through a collective security system.</p>
            </div>

            <div class="blockchain-features-list">
                <div class="blockchain-feature">
                    <div class="blockchain-feature-images">
                        <img src="{{ url_for('static', filename='media/securityIcon.png') }}"/>
                    </div>
                    <h5>Secure Networking</h5>
                    <p>Availability and validity scheme allow chains to interact with each other in a meaningful way.</p>
                </div>
                <div class="blockchain-feature">
                    <div class="blockchain-feature-images-2">
                        <img src="{{ url_for('static', filename='media/interoperabilityIcon1.png') }}" class="interoperability-Icon-1"/>
                    </div>
                    <h5>Interoperability</h5>
                    <p>Polkadot enables cross-blockchain transfers of any type of data or asset, not just tokens.</p>
                </div>
                <div class="blockchain-feature-last">
                    <div class="blockchain-feature-last-images">
                        <img src="{{ url_for('static', filename='media/energyEfficiencyIcon.png') }}"/>
                    </div>
                    <h5>High Energy Efficiency</h5>
                    <p>Using the equivalent of ~6.6 US households worth of energy per year, Polkadot has the lowest carbon footprint.</p>
                </div>
            </div>
        </div>


        

    </div>


</body>
</html>