<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotus - Cryptocurrency Wallet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/joinTeam.css') }}">
    <script src="{{url_for('static', filename='javascript/basicFunctions.js')}}" defer></script>
</head>
<body>

    <div id="global">

        <div class="home-header">
            <div class="home-name">
                <img src="{{ url_for('static', filename='media/lotusLogo.png') }}" class="logo-lotus"/>
                <div class="name-container">
                    <h1>Lotus</h1>
                    <h2>CRYPTOCURRENCY WALLET</h2>
                </div>
            </div>
            <div class="home-routes">
                <a href="/" class="route">Home</a>
                <a href="/product" class="route">Product</a>
                <a href="/about" class="route">About</a>
                <div class="dropdown">
                    <a href="#contact" class="route contact">Contact us</a>
                    <div class="dropdown-content">
                        <a href="/contact_form">Contact Form</a>
                        <a href="/join_the_team">Join the team</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="join-intro-header">
            <h3>Join the Team</h3>
            <a>Apply now</a>
        </div>


        <div class="join-information">
            <div class="join-detail">
                <h4>Introduction</h4>
                <p></p>
            </div>
            <div class="join-detail">
                <h4>What to expect</h4>
                <p></p>
            </div>
            <div class="join-detail">
                <h4>What you'll need</h4>
                <p></p>
            </div>
        </div>


        <div class="empty-banner"></div>

        <form class="join-form">
            <div class="personal-form">
                <h5>Personal Information</h5>
                <div>
                </div>
            </div>
            <div class="resume-form">
                <h5>Resume Information</h5>
                <div>
                </div>
            </div>
            <div class="portfolio-form">
                <h5>Portfolio <i>(optional)</i></h5>
                <div>
                </div>
            </div>
            <div class="upload-form">
                <h5>Upload Documents</h5>
                <div>
                </div>
            </div>



        </form>


    </div>
    
</body>
</html>