<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotus - Cryptocurrency Wallet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/joinTeam.css') }}">
    <script src="{{url_for('static', filename='javascript/basicFunctions.js')}}" defer></script>
</head>
<body>

    <div id="global">

        <div class="home-header">
            <div class="home-name">
                <img src="{{ url_for('static', filename='media/lotusLogo.png') }}" class="logo-lotus"/>
                <div class="name-container">
                    <h1>Lotus</h1>
                    <h2>CRYPTOCURRENCY WALLET</h2>
                </div>
            </div>
            <div class="home-routes">
                <a href="/" class="route">Home</a>
                <a href="/product" class="route">Product</a>
                <a href="/about" class="route">About</a>
                <div class="dropdown">
                    <a href="#contact" class="route contact">Contact us</a>
                    <div class="dropdown-content">
                        <a href="/contact_form">Contact Form</a>
                        <a href="/join_the_team">Join the team</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</body>
</html>