<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konnex - Cryptocurrency Wallet</title>
    <link rel="icon" type="image/png" media="(prefers-color-scheme: dark)" href="{{url_for('static', filename='media/konnexLogoInverted.png')}}">
    <link rel="icon" type="image/png" media="(prefers-color-scheme: light)" href="{{url_for('static', filename='media/KonnexLogoo.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/joinTeam.css') }}">
    <script src="{{url_for('static', filename='javascript/basicFunctions.js')}}" defer></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-VCBZXC9R3T');
    </script>
</head>
<body>

    <div id="global">

        <div class="home-header fade-in">
            <div class="home-name">
                <img src="{{ url_for('static', filename='media/KonnexLogoo.png') }}" class="logo-lotus"/>
                <div class="name-container">
                    <h1>KONNEX</h1>
                    <h2>CRYPTOCURRENCY WALLET</h2>
                </div>
            </div>
            <div class="home-routes fade-in">
                <a href="/" class="route">Home</a>
                <a href="/product" class="route">Product</a>
                <a href="/about" class="route">About</a>
                <div class="dropdown">
                    <a href="#contact" class="route-selected contact">Contact us</a>
                    <div class="dropdown-content">
                        <a href="/contact_form">Contact Form</a>
                        <a href="/join_the_team">Join the team</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="join-intro-header">
            <div class="join-intro-content">
                <h3>Join the Team</h3>
                <a href="#apply_form" class="applyLink">Apply now</a>
            </div>
        </div>


        <div class="join-information">
            <div class="join-detail-one fade-slide-up">
                <h4>Introduction</h4>
                <p>Welcome to Konnex, where passion meets opportunity.
                    At Konnex, we offer more than just a job; we provide a platform for you to make a meaningful impact on how people integrate cryptocurrency into their everyday lives. With our support, you'll be part of a team that's reshaping the future of cryptocurrency. As a valued member of Konnex, you'll have the chance to contribute your skills and expertise to various aspects of our innovative projects, ensuring your work aligns with both your strengths and our company's goals.</p>
            </div>
            <div class="join-detail fade-slide-up">
                <h4>What to expect</h4>
                <p>When you join Konnex, you step into a dynamic environment where innovation thrives and passion drives our mission. Expect to immerse yourself in groundbreaking projects that redefine the landscape of cryptocurrency integration in everyday life. Your contributions will directly shape the future of how people interact with digital currencies globally. Within our collaborative culture, you'll find ample opportunities for professional growth and development, supported by a leadership team dedicated to your success. Flexibility and a healthy work-life balance are prioritized, ensuring you can thrive both personally and professionally. Be prepared for exciting challenges that will stretch your skills and unlock new potentials, all while enjoying the rewarding experience of making a tangible impact on the world of finance and technology.</p>
            </div>
            <div class="join-detail fade-slide-up">
                <h4>What you'll need</h4>
                <p>To seize the opportunities at Konnex, we're looking for individuals who bring a unique blend of skills, experience, and passion to the table. To apply for a position, please submit your resume highlighting your relevant experience and qualifications. Depending on the role, we may also request a portfolio showcasing your previous work and projects. Additionally, we value strong communication skills, a collaborative mindset, and a willingness to learn and adapt in a fast-paced environment. While specific requirements may vary depending on the position, a demonstrated interest in cryptocurrency and fintech is highly desirable. Above all, we seek individuals who are eager to make a meaningful impact and contribute to our vision of transforming the cryptocurrency landscape.</p>
            </div>
        </div>


        <div class="empty-banner"></div>

        <form id="apply_form" class="join-form" action="/join_form" method="POST" enctype="multipart/form-data">
            {% if error_message %}
                <div class="error-message">
                    {% for error in error_message %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="personal-container">
                <h5>Personal Information</h5>
                <div class="personal-form">
                    <div class="form-split">
                        <label class="label">
                            Legal First Name *
                            <input name="first_name" />
                        </label>
                        <label class="label">
                            Legal Last Name *
                            <input name="last_name" />
                        </label>
                    </div>
                    <label class="label-single">
                        Email *
                        <input name="email" />
                    </label>
                    <div class="form-split">
                        <label class="label">
                            Contact Phone Type 
                            <select class="select-options" name="phone_type">
                                <option value="null"  disabled>Choose one...</option>
                                <option value="home">Home</option>
                                <option value="work">Work</option>
                                <option value="cell">Cell</option>
                            </select>
                        </label>
                        <label class="label">
                            Phone Number
                            <input inputmode="numeric" type="number" name="phone_number" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="resume-container">
                <h5>Resume Information</h5>
                <div class="resume-form">
                    <div class="form-split">
                        <label class="label">
                            Position *
                            <input name="position" />
                        </label>
                        <label class="label">
                            Years of experience *
                            <input inputmode="numeric" name="years_of_experience" type="number"/>
                        </label>
                    </div>
                    <label class="label-paragraph">
                        Reason for applying
                        <textarea name="reason_for_apply"></textarea>
                    </label>
                </div>
            </div>
            <div class="portfolio-container">
                <h5>Portfolio <i>(optional)</i></h5>
                <div class="portfolio-form">
                    <label class="label-single">
                        Website
                        <input name="website" />
                    </label>
                    <label class="label-single">
                        Github
                        <input name="github" />
                    </label>
                    <label class="label-single">
                        Behance
                        <input name="behance" />
                    </label>
                    <label class="label-single">
                        Other
                        <input name="other" />
                    </label>
                </div>
            </div>
            <div class="upload-container">
                <h5>Upload Documents</h5>
                <div class="upload-form">
                    <div class="upload-button">
                        <label class="upload-label">
                            <img class="add-icon-circle" src="{{ url_for('static', filename='media/addIconCircle.png') }}"/>
                            <p>New Upload</p>
                            <input id="file-upload" type="file" name="document" style="display: none;" accept=".pdf,.doc,.docx,.txt,.js,.py, .png">
                        </label>
                    </div>
                    <div class="upload-details-container">
                        <!-- <div class="upload-visual"></div> -->
                        <div class="upload-details">
                            <div class="upload-info">
                                <h6>Document Name:</h6>
                                <p id="document-name"></p>
                            </div>
                            <div class="upload-info">
                                <h6>Document Size:</h6>
                                <p id="document-size"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="check-consent">
                <input name="checkbox-consent" type="checkbox" />
                <p>I certify that all information provided in this application is true and complete to the best of my knowledge. I understand that any false statements or omissions may result in disqualification from employment or termination if already employed.</p>
            </div>

            <button class="submit-button-tag">Submit</button>
        </form>


        <div class="footer">
            <div class="footer-left fade-slide-up">
                <div class="footer-left-top">
                    <img src="{{ url_for('static', filename='media/konnexLogoo.webp') }}"/>
                    <h5>
                        Konnex Cryptocurrency Wallet
                    </h5>
                </div>
                <h6>
                    Est 2024
                </h6>
                <!-- <div class="footer-left-socials">
                    <img src="{{ url_for('static', filename='media/linkedInLogo.png') }}"/>
                    <img src="{{ url_for('static', filename='media/instagramLogo.png') }}"/>
                    <img src="{{ url_for('static', filename='media/twitterLogo.png') }}"/>
                </div> -->
            </div>
            <div class="footer-right fade-slide-up">
                <div class="footer-routes">
                    <a href="/" class="footer-single-route">Home</a>
                    <hr/>
                    <a href="/product" class="footer-single-route">Product</a>
                    <hr/>
                    <a href="/about" class="footer-single-route">About</a>
                    <hr/>
                    <a href="#" class="footer-single-route">Contact us</a>
                </div>
                <p>
                    All content on this website is the property of Konnex, unless otherwise noted. Any unauthorized use, reproduction, or distribution of content is strictly prohibited. By accessing this website, you agree to our 
                    <a href="https://app.termly.io/policy-viewer/policy.html?policyUUID=6603c3ef-1dcf-47c1-83a8-6f74bb743b0c" target="_blank">Terms and Conditions</a>
                    and
                    <a href="https://app.termly.io/policy-viewer/policy.html?policyUUID=48e4ca19-bdbf-4ce1-af30-52a06ed706da" target="_blank">Privacy policy</a>
                </p>
            </div>
        </div>

    </div>
    
</body>
</html>