<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotus - Cryptocurrency Wallet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product.css') }}">
</head>
<body>

    <div id="global">

        <div class="home-header">
            <div class="home-name">
                <img src="{{ url_for('static', filename='media/lotusLogo.png') }}" class="logo-lotus"/>
                <div class="name-container">
                    <h1>Lotus</h1>
                    <h2>CRYPTOCURRENCY WALLET</h2>
                </div>
            </div>
            <div class="home-routes">
                <a href="/" class="route">Home</a>
                <a href="/product" class="route">Product</a>
                <a href="/about" class="route">About</a>
                <a href="#" class="route">Contact us</a>
            </div>
        </div>

        <div class="product-intro">
            <div class="product-intro-text">
                <h3>"We are here to guide your every step of the way, ensuring that your experience is clear, straightforward, and supported from start to finish."</h3>
                <h4>Committed to bridging people and blockchain, we bring clarity and drive toward an accessible and trusted journey</h4>
            </div>
        </div>

        <div class="product-intro-banner">
            <p class="product-intro-banner-text">Polkadot stands out for users by enabling seamless interaction across diverse blockchain networks, dramatically simplifying access to a wide array of services and assets without the complexity of managing multiple wallets or navigating bridges.</p>
        </div>


        <div class="product-description">
            <div class="product-side-descriptions">
                <img src="{{ url_for('static', filename='media/productIntroVisual.png') }}"/>
                <p>We are dedicated to guide users along with the benefits of Polkadot technology, standing by your side at every step to bring clarity to the practicality of the technology, so the users can approach financial opportunities and interactions with confidence.</p>
            </div>

            <div class="product-description-paragraph">
                <div class="product-description-point">
                    <img src="{{ url_for('static', filename='media/accessibleIcon.png') }}"/>
                    <div class="description-text">
                        <h5>Accessible</h5>
                        <p>Accessible to a wide range of users, fostering inclusivity and making financial opportunities available to all.</p>
                    </div>
                </div>
                <div class="product-description-point">
                    <img src="{{ url_for('static', filename='media/trustworthyIcon.png') }}"/>
                    <div class="description-text">
                        <h5>Trustworthy</h5>
                        <p>Maintains the highest standards of integrity and security in the crypto currency and blockchain space.</p>
                    </div>
                </div>
                <div class="product-description-point">
                    <img src="{{ url_for('static', filename='media/supportIcon.png') }}"/>
                    <div class="description-text">
                        <h5>Supportive</h5>
                        <p>Lotus stands by its users at every step of their journey, providing the assistance and clarity they need.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="banner-points">
            <div class="single-point">
                <img src="{{ url_for('static', filename='media/arrowIcon.png') }}"/>
                <p>Foundation of Dependability</p>
            </div>
            <div class="single-point">
                <img src="{{ url_for('static', filename='media/arrowIcon.png') }}"/>
                <p>Streamlined User Experience</p>
            </div>
            <div class="single-point">
                <img src="{{ url_for('static', filename='media/arrowIcon.png') }}"/>
                <p>Fairness and Transparency</p>
            </div>
        </div>

        <div class="product-overview">
            <div class="overview-text">
                <div class="overview-text-description">
                    <h5>Peer-to-peer interactions</h5>
                    <p>Peer-to-peer interactions through blockchain technology offer a compelling array of benefits, including financial inclusion, lower costs, enhanced efficiency, and increased security and privacy. These advantages make blockchain an attractive option for users seeking more control, access, and flexibility in their financial activities, marking a significant shift towards a more inclusive and equitable digital economy.</p>
                </div>
                <div class="overview-text-description">
                    <h5>Engage as a community</h5>
                    <p>Through blockchain technology, Lotus enables individuals not just to connect but to form cohesive groups with shared interests or goals. These groups have the unique capability to orchestrate activities, engage in collaborative projects, or pool resources in a manner that equally values each member's voice and contribution. The ability to create and manage sub-groups further decentralizes control, allowing for more specialized and intimate gatherings that cater to the varied interests within the broader community.</p>
                </div>
                <div class="overview-text-description-last">
                    <h5>Pay in store</h5>
                    <p>Pay-in-Store leverages the robustness and security of blockchain technology to bring digital payments into the mainstream, offering a user-friendly interface that makes transacting with digital currencies as effortless as using traditional payment methods. This integration signifies a major shift towards a digital economy, where blockchain is not just an underlying technology but a facilitator of everyday financial activities.</p>
                </div>
            </div>

            <img src="{{ url_for('static', filename='media/descriptionPhoto.png') }}"/>
        </div>


        <div class="benefits-banner">
            <h4>Product Benefits</h4>
            <div class="benefits-list">
                <div class="benefits-container">
                    <img src="{{ url_for('static', filename='media/benefitBox.png') }}"/>
                    <div class="benefit-description">
                        <h5>Flexibility</h5>
                        <p>Provides users with the autonomy to dictate their financial and community interactions, free from centralized control, which empowers users to make decisions that best suit their needs and preferences.</p>
                    </div>
                </div>
                <div class="benefits-container">
                    <img src="{{ url_for('static', filename='media/benefitBox.png') }}"/>
                    <div class="benefit-description">
                        <h5>Accessibility</h5>
                        <p>Enables users to engage in financial transactions and community activities regardless of geographic boundaries, fostering a truly global marketplace and community space.</p>
                    </div>
                </div>
                <div class="benefits-container">
                    <img src="{{ url_for('static', filename='media/benefitBox.png') }}"/>
                    <div class="benefit-description">
                        <h5>Security</h5>
                        <p>Gives users control over their data, ensuring that personal and financial information is shared and used only as intended by the user, thereby enhancing privacy and security.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="features-container">
            <div class="left-features">
                <h4>Product Features</h4>
                <div class="left-features-list">
                    <div class="left-features-description">
                        <h5>Groups</h5>
                        <p>Groups allow users to form communities with shared interests or objectives, fostering collaboration and mutual support, which enhances the sense of belonging and collective achievement among members.</p>
                    </div>
                    <div class="left-features-description">
                        <h5>Peer-to-peer transactions</h5>
                        <p>Peer-to-peer transactions enable users to directly exchange assets without intermediaries, reducing transaction costs and increasing the speed and privacy of transfers.</p>
                    </div>
                </div>
            </div>
            <div class="right-features-list">
                <div class="right-features-description">
                    <h5>Staking</h5>
                    <p>Staking offers users a way to earn rewards by participating in the network security and consensus mechanisms, incentivizing engagement and investment in the platform's ecosystem.</p>
                </div>
                <div class="right-features-description">
                    <h5>Historical Data</h5>
                    <p>Access to historical data provides users with valuable insights into transaction histories and trends, enabling informed decision-making and enhancing transparency.</p>
                </div>
                <div class="right-features-description">
                    <h5>Interoperability</h5>
                    <p>Interoperability allows for seamless communication and transaction across different blockchain networks, expanding users' access to diverse assets and services and enhancing the flexibility of their digital engagements.</p>
                </div>
            </div>
        </div>


    </div>
    
</body>
</html>