<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lotus - Cryptocurrency Wallet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/productMobile.css') }}">
    <script src="{{url_for('static', filename='javascript/basicFunctionsMobile.js')}}" defer></script>
</head>
<body>

    <div id="global">

        <div class="home-header">
            <div class="home-name">
                <div class="name-container">
                    <img src="{{ url_for('static', filename='media/lotusLogo.png') }}" class="logo-lotus"/>
                    <h1>Lotus</h1>
                </div>
                    <h2>CRYPTOCURRENCY WALLET</h2>
            </div>
            <div class="home-routes">
                <a href="/" class="route">Home</a>
                <a href="/product" class="route">Product</a>
                <a href="/about" class="route">About</a>
                <div class="dropdown">
                    <a href="#contact" class="route contact">Contact us</a>
                    <div class="dropdown-content">
                        <a href="/contact_form">Contact Form</a>
                        <a href="/join_the_team">Join the team</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-intro">
            <img src="{{ url_for('static', filename='media/productBackgroundMobile.png') }}" class="logo-lotus"/>
            <div class="product-intro-text">
                <h3>"We are here to guide your every step of the way, ensuring that your experience is clear, straightforward, and supported from start to finish."</h3>
                <h4>Committed to bridging people and blockchain, we bring clarity and drive toward an accessible and trusted journey</h4>
            </div>
        </div>

        <div class="product-intro-banner">
            <p class="product-intro-banner-text">Polkadot stands out for users by enabling seamless interaction across diverse blockchain networks</p>
        </div>


        <div class="product-description">
            <div class="product-side-descriptions">
                <img src="{{ url_for('static', filename='media/productUseCase.png') }}"/>
                <p>We are dedicated to guide users along with the benefits of Polkadot technology, standing by your side at every step to bring clarity to the practicality of the technology, so the users can approach financial opportunities and interactions with confidence.</p>
            </div>

            <div class="product-description-paragraph">
                <div class="product-description-point">
                    <img src="{{ url_for('static', filename='media/accessibleIcon.png') }}"/>
                    <div class="description-text">
                        <h5>Accessible</h5>
                        <p>Accessible to a wide range of users, fostering inclusivity and making financial opportunities available to all.</p>
                    </div>
                </div>
                <div class="product-description-point">
                    <img src="{{ url_for('static', filename='media/trustworthyIcon.png') }}"/>
                    <div class="description-text">
                        <h5>Trustworthy</h5>
                        <p>Maintains the highest standards of integrity and security in the crypto currency and blockchain space.</p>
                    </div>
                </div>
                <div class="product-description-point">
                    <img src="{{ url_for('static', filename='media/supportIcon.png') }}"/>
                    <div class="description-text">
                        <h5>Supportive</h5>
                        <p>Lotus stands by its users at every step of their journey, providing the assistance and clarity they need.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="banner-points">
            <div class="single-point">
                <img src="{{ url_for('static', filename='media/arrowIcon.png') }}"/>
                <p>Foundation of Dependability</p>
            </div>
            <div class="single-point">
                <img src="{{ url_for('static', filename='media/arrowIcon.png') }}"/>
                <p>Streamlined User Experience</p>
            </div>
            <div class="single-point">
                <img src="{{ url_for('static', filename='media/arrowIcon.png') }}"/>
                <p>Fairness and Transparency</p>
            </div>
        </div>

        <div class="product-overview">
            
            <div class="overview-background-image"></div>

            <div class="overview-text">
                <h4>
                    Product overview
                </h4>
                <div class="overview-text-description">
                    <h5>Peer-to-peer interactions</h5>
                    <p>Peer-to-peer interactions through blockchain technology offer a compelling array of benefits, including financial inclusion, lower costs, enhanced efficiency, and increased security.</p>
                </div>
                <div class="overview-text-description">
                    <h5>Engage as a community</h5>
                    <p>Through blockchain technology, Lotus enables individuals not just to connect but to form cohesive groups with shared interests or goals. These groups have the unique capability to orchestrate activities, engage in collaborative projects, or pool resources in a manner that equally values each member's voice.</p>
                </div>
                <div class="overview-text-description-last">
                    <h5>Pay in store</h5>
                    <p>Pay-in-Store leverages the robustness and security of blockchain technology to bring digital payments into the mainstream, offering a user-friendly interface that makes transacting with digital currencies as effortless as using traditional payment methods.</p>
                </div>
            </div>    
            
        </div>


        <div class="product-features">

            <div class="product-features-header">
                <div class="product-features-title">
                    <h5>
                        Product features
                    </h5>
                    <h6>"Crafting Your Story on the Blockchain"</h6>
                </div>
            </div>

            <div class="product-features-descriptions">

                <p class="product-features-descriptions-long-text">Each feature is meticulously crafted not only to meet but to anticipate the needs of our users, providing a comprehensive suite of tools designed to enhance, simplify, and secure the digital lifestyle. These features embody the essence and utility of harnessing the digital realm, offering convenient accessibility at every turn.</p>

                <div class="product-features-points">
                    <div class="product-features-points-text">
                        <h5>
                            Pay in store
                        </h5>
                        <div class="features-bullets-points">
                            <p>Lorem ipsum dolor sit amet, consectetuer</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>
                    </div>
                    <div class="product-features-points-text">
                        <h5>
                            Pay in store
                        </h5>
                        <div class="features-bullets-points">
                            <p>Lorem ipsum dolor sit amet, consectetuer</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>
                    </div>
                    <div class="product-features-points-text">
                        <h5>
                            Pay in store
                        </h5>
                        <div class="features-bullets-points">
                            <p>Lorem ipsum dolor sit amet, consectetuer</p>
                            <p>Lorem ipsum dolor sit amet, consectetuer</p>
                        </div>
                    </div>
                    
                </div>

                <img src="{{ url_for('static', filename='media/productFeaturesMockup.png') }}"/>
            </div>

            <div class="product-benefits">
                <div class="product-benefits-header">
                    <h4>
                        Product Benefits
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
                    </p>
                </div>

                <div class="product-benefits-bottom">
                    <img src="{{ url_for('static', filename='media/productBenefitsMockupMobile.png') }}" class="product-benefits-background "/>
                    <div class="product-benefits-bottom-descriptions">
                        <div class="product-benefits-bottom-descriptions-text">
                            <h4>
                                Flexibility
                            </h4>
                            <p>
                                Provides users with the autonomy to dictate their financial and community interactions, free from centralized control, which empowers users to make decisions that best suit their needs and preferences.
                            </p>
                        </div>
                        <div class="product-benefits-bottom-descriptions-text">
                            <h4>
                                Accessibility
                            </h4>
                            <p>
                                Enables users to engage in financial transactions and community activities regardless of geographic boundaries, fostering a truly global marketplace and community space.
                            </p>
                        </div>
                        <div class="product-benefits-bottom-descriptions-text">
                            <h4>
                                Security
                            </h4>
                            <p>
                                Gives users control over their data, ensuring that personal and financial information is shared and used only as intended by the user, thereby enhancing privacy and security.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="footer-left">
                    <div class="footer-left-top">
                        <img src="{{ url_for('static', filename='media/lotusLogo.png') }}"/>
                        <h5>
                            Lotus Cryptocurrency Wallet
                        </h5>
                    </div>
                    <h6>
                        Est 2024
                    </h6>
                    <div class="footer-left-socials">
                        <img src="{{ url_for('static', filename='media/linkedInLogo.png') }}"/>
                        <img src="{{ url_for('static', filename='media/instagramLogo.png') }}"/>
                        <img src="{{ url_for('static', filename='media/twitterLogo.png') }}"/>
                    </div>
                </div>
                <div class="footer-right">
                    <div class="footer-routes">
                        <a href="/" class="footer-single-route">Home</a>
                        <hr/>
                        <a href="/product" class="footer-single-route">Product</a>
                        <hr/>
                        <a href="/about" class="footer-single-route">About</a>
                        <hr/>
                        <a href="#" class="footer-single-route">Contact us</a>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
                    </p>
                </div>
            </div>
    

        </div>

    </div>
    
</body>
</html>