[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
mailchimp-marketing = "*"
flask-cors = "*"
bleach = "*"
bs4 = "*"
datetime = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.11"
