.home-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 30%;
    gap: 1.2vw;
    } .logo-lotus {
        height: 35px;
        width: 1005px;
    } .name-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 90%;
        height: 100%;
        gap: 0.2vh;
        margin-top: 1%;
        } .name-container > h1 {
            font-size: 2.2em;
            height: fit-content;
            margin: 0;
            font-family: 'LTCushionLight';
            letter-spacing: 2px;
            font-weight: 900;
        } .name-container > h2 {
            margin: 0;
            width: 100%;
            font-size: 0.73em;
            font-weight: 100;
            letter-spacing: 1.25px;
            font-family: 'LTCushionLight';
}