body, html {
    margin: 0 auto;
    height: auto;
    width: 100%;
    font-family: 'FreightSansLight', sans-serif;
    letter-spacing: 0.7px;
}

.home-header-preview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 155px;
    width: 90%;
    /* background-color: red; */
    gap: 15vw;
    } .home-name-preview {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80%;
        width: 30%;
        gap: 1.2vw;
        } .logo-lotus {
            height: 45px;
            width: 45px;
        } .name-container-preview {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 90%;
            height: 100%;
            gap: 0.2vh;
            margin-top: 1%;
            } .name-container-preview > h1 {
                /* font-size: 1.8em; */
                font-size: 1.8em;
                height: fit-content;
                margin: 0;
                font-family: 'LTCushionLight';
                letter-spacing: 2px;
                font-weight: 900;
            } .name-container-preview > h2 {
                margin: 0;
                width: 100%;
                font-size: 0.5em;
                font-weight: 100;
                letter-spacing: 1.25px;
                font-family: 'LTCushionLight';
    } .home-routes-preview {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 40%;
        padding-right: 2.5%;
        font-size: 0.8em;
        } .route {
            text-decoration: none;
            color: black;
            } .route-selected {
                text-decoration: none;
                font-weight: 600;
                color: black;
                margin: 0;
                border-bottom: 2px solid black;
                margin-bottom: -1%;
            }