@font-face {
    font-family: 'FreightSansLight';
    src: url('/static/font/FreightSansProLight-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansMedium';
    src: url('/static/font/FreightSansProMedium-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansSemi';
    src: url('/static/font/FreightSansProSemiBold-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansBold';
    src: url('/static/font/FreightSansProBold-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansBook';
    src: url('/static/font/FreightSansProBook-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LTCushion';
    src: url('/static/font/LTCushion-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'LTCushionLight';
    src: url('/static/font/LTCushion-Light.ttf') format('truetype');
}



@media (orientation: portrait) {
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
    right: 23.75vw;
    padding-top: 0.6%;
    top: 17vh;
} .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    font-size: 0.9em;
    text-align: center;
    justify-content: center;
    /* width: 80%; */
} .dropdown-content a:hover {
    background-color: #f1f1f1;
    border: none;
} #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 27px;
    z-index: 99;
    background-color: transparent;
    color: white;
    border: none;
    /* border-radius: 50%; */
    /* padding: 15px; */
    cursor: pointer;
    transition: opacity 0.3s, visibility 0.3s;
    width: 45px;
    height: 45px;
} .scrollTopIcon {
    width: 40px;
    height: 40px;
    opacity: 0.6;
} .route-selected {
    text-decoration: none;
    font-weight: 600;
    color: black;
    margin: 0;
    font-size: 0.8em;
    border-bottom: 2px solid black;
    /* margin-top: -2%; */
}





#global, body, html {
    margin: 0 auto;
    height: auto;
    width: 100%;
    font-family: 'FreightSansLight', sans-serif;
    letter-spacing: 0.7px;
}

.home-header {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
    /* background-color: red; */
    flex-direction: column;
    padding-top: 3%;

    /* gap: 5vw; */
    } .home-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 50%;
        /* gap: 3vw; */
        padding-top: 1.5%;
        /* background-color: blue; */
    } .logo-lotus {
        height: 38px;
        width: 24px;
    } .name-container {
        display: flex;
        /* flex-direction: column; */
        align-items: flex-end;
        justify-content: center;
        width: 90%;
        height: 44%;
        gap: 1.3vh;
        margin-top: 1%;
        margin-left: 1.7%;
        /* background-color: red; */
    } .name-container > h1 {
        font-size: 2.45em;
        /* background-color: red; */
        height: fit-content;
        margin: 0;
        /* background-color: red; */
        height: 100%;
        font-family: 'LTCushionLight';
        letter-spacing: 2px;
        font-weight: 900;
        width: 35%;
        text-align: center;
        /* background-color: red; */
    } .home-name > h2 {
        padding-top: 2.6%;
        text-align: center;
        margin: 0;
        width: 100%;
        font-size: 0.65em;
        font-weight: 100;
        letter-spacing: 0.7px;
        font-family: 'LTCushionLight';
    } .home-routes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 20%;
        width: 62%;
        margin-top: 2%;
        /* padding-right: 1.5%; */
        /* background-color: red; */
        gap: 1vh;
    } .route {
            text-decoration: none;
            color: black;
            margin: 0;
            font-size: 0.85em;
            /* width: 20%; */
            /* margin-top: -2%; */
    } .about-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 420px;
    width: 100%;
    margin-top: 10%;
    /* background-color: red; */
    } .about-Intro-Visual {
        width: 100%;
        height: 80%;
        size: 'cover';
} .about-intro-banner {
    background-image: url('../media/aboutIntroBanner.png');
    background-size: cover; 
    background-size: 100%;
    background-repeat: no-repeat;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1.8vw; */
    width: 100%;
    /* padding-top: 1%; */
    /* padding-bottom: 2%; */
    /* margin-top: 1%; */
    } .about-intro-point-container {
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50%;
        /* width: 20.5%; */
        /* gap: 0.82vh; */
        width: 30%;
        color: white;
        /* padding-left: 6%; */
        /* padding-bottom: 0.8%; */
        margin: 0;
        margin-right: 2%;
        } .about-intro-point-container > h4 {
            margin: 0;
            font-size: 1em;
            font-family: 'FreightSansBook', sans-serif;
            letter-spacing: 1.15px;
            width: 100%;
            text-align: center;
        } .about-intro-point-container > p {
            margin: 0;
            width: 100%;
            font-family: 'FreightSansBook', sans-serif;
            font-size: 0.75em;
            line-height: 17px;
            text-align: center;
} .about-brand-manifesto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 305px;
    width: 100%;
    gap: 2.5vh;
    margin-top: 12%;
    /* background-color: red; */
    } .about-brand-manifesto > h3 {
        margin: 0;
        width: 85%;
        font-size: 1.4em;
        text-align: center;
        font-family: 'FreightSansMedium', sans-serif;
        letter-spacing: 1.5px;
        height: 15%;
    } .brand-manifesto-text {
        width: 81%;
        height: 74%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1vh;
        /* background-color: red; */
        } .brand-manifesto-text > p {
            margin: 0;
            font-size: 0.88em;
            line-height: 30px;
            letter-spacing: 0.6px;
            text-align: center;
            width: 80%;
            /* height: 50%; */
} .about-story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 820px;
    width: 100%;
    margin-top: 7%;
    } .about-story-visual {
        width: 660px;
        height: 400px;
        /* padding-bottom: 3%; */
    } .about-story-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        /* margin-top: 8.25%; */
        height: 55%;
        width: 95%;
        gap: 2vh;
        } .about-story-text > h4 {
            margin: 0;
            width: 90%;
            font-size: 1.4em;
            font-family: 'FreightSansMedium', sans-serif;
            letter-spacing: 1.5px;
            text-align: center;
            height: 10%;
        } .about-story-text > p {
            margin: 0;
            font-size: 0.88em;
            line-height: 25px;
            letter-spacing: 0.6px;
            text-align: center;
            width: 70%;
            height: 30%;
} .statement-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 100%;
    background-image: url('../media/statementBanner.png');
    background-size: cover; 
    /* background-size: 100%; */
    color: white;
    gap: 1.5vh;
    background-repeat: no-repeat;
    } .statement-banner > h4 {
        margin: 0;
        /* width: 75%; */
        font-size: 1.4em;
        font-family: 'FreightSansMedium', sans-serif;
        letter-spacing: 1.75px;
        height: 15%;
    } .statement-banner > p {
        margin: 0;
        font-size: 0.88em;
        /* font-family: 'FreightSansBook', sans-serif; */
        letter-spacing: 0.6px;
        width: 60%;
        text-align: center;
        line-height: 28px;
        margin-bottom: 1.2%;
        height: 30%;
} .create-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 1220px;
    width: 100%;
    gap: 1.5vh;
} .create-story-upper {
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        height: 550px;
        width: 100%;
        padding-top: 14%;
        /* background-color: red; */

        } .create-story-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            /* gap: 2vh; */
            text-align: center;
            } .create-story-text > h4 {
                margin: 0;
                width: 90%;
                font-size: 1.4em;
                font-family: 'FreightSansMedium', sans-serif;
                letter-spacing: 1.5px;
            } .create-story-text > p {
                margin: 0;
                font-size: 0.88em;
                /* font-family: 'FreightSansBook', sans-serif; */
                letter-spacing: 0.6px;
                width: 78%;
                line-height: 30px;
                margin-top: 1.5%;
        } .create-story-upper > img {
            width: 32%;
            justify-content: center;
            align-items: center;
            /* height: 400px; */
    } .create-story-banner {
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 3.5vw;
        text-align: center;
    } .create-story-point-container {
            margin-top: -2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 90%;
            gap: 0.85vh;
            } .create-story-point-container > p {
                margin: 0;
                /* font-family: 'FreightSansBook', sans-serif; */
                font-size: 0.88em;
                line-height: 27px;
                width: 62%;
                } .create-story-point-container-title {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1vh;
                    /* padding-bottom: 3%; */
                } .create-story-point-container-title > img {
                    width: 4%;
                    margin-top: -2%;
                    height: 24px;
                } .create-story-point-container-title > h4 {
                    /* background-color: red; */
                    margin: 0;
                    font-size: 1em;
                    font-family: 'FreightSansMedium', sans-serif;
                    letter-spacing: 1.5px;
                    width: 35%;
                    text-align: center;
        } .create-story-point-container-title-first {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1vh;
            /* padding-bottom: 3%; */
        } .create-story-point-container-title-first > img {
            width: 3.5%;
            height: 20px;
        } .create-story-point-container-title-first > h4 {
                    /* background-color: red; */
                    margin: 0;
                    font-size: 1em;
                    font-family: 'FreightSansMedium', sans-serif;
                    letter-spacing: 1.5px;
                    width: 30%;
                    text-align: center;
        } .create-story-point-container-title-second {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1vh;
            /* padding-bottom: 3%; */
        } .create-story-point-container-title-second > img {
            width: 3.5%;
            height: 20px;
        } .create-story-point-container-title-second > h4 {
                    /* background-color: red; */
                    margin: 0;
                    font-size: 1em;
                    font-family: 'FreightSansMedium', sans-serif;
                    letter-spacing: 1.5px;
                    width: 30%;
                    text-align: center;
        }.our-promise {
            width: 100%;
            height: 270px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url('../media/aboutIntroBanner.png');
            background-size: cover; 
            gap: 1.5vh;
            /* background-size: 100%; */
            } .our-promise > h4 {
                font-size: 1.4em;
                color: white;
                margin: 0;
                font-family: 'FreightSansMedium', sans-serif;
                height: 15%;

                } .our-promise > p {
                    font-size: 0.88em;
                    color: white;
                    width: 60%;
                    text-align: center;
                    margin: 0;
                    line-height: 26px;
                    height: 35%;
        } .brand-identity {
            width: 100%;
            height: 950px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            } .brand-statement {
                padding-top: 12.5%;
                /* background-color: red; */
                width: 100%;
                height: 23%;
                display: flex;
                flex-direction: column;
                align-items: center;
            } .brand-statement > h4 {
                font-size: 1.4em;
                color: black;
                margin: 0;
                height: 45px;
                font-family: 'FreightSansMedium', sans-serif;
                font-weight: 800;
            } .brand-statement > p {
                font-size: 0.88em;
                color: black;
                margin: 0;
                width: 80%;
                height: 100px;
                text-align: center;
                line-height: 25px;
                /* background-color: red; */
            } .brand-statement-points {
                width: 100%;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                /* background-color: red; */
                /* gap: 2vh; */
                /* margin-top: -5%; */
                /* padding-top: 3%; */
            } .brand-statement-points-first {
                /* background-color: red; */
                /* background-color: red; */
                width: 80%;
                height: 54%;
                display: flex;
                flex-direction: column;
                align-items: center;
                /* gap: 2vh; */
                /* justify-content: center; */
            } .brand-statement-points-first > img {
                width: 50px;
                height: 50px;
            } .brand-statement-points-text {
                width: 100%;
                height: 130px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                /* gap: 1vh; */
                padding-top: 2.5%;
            } .brand-statement-points-text > h4 {
                font-size: 1em;
                margin: 0;
                font-family: 'FreightSansMedium', sans-serif;
            } .brand-statement-points-text > p {
                /* background-color: red; */
                font-size: 0.88em;
                margin: 0;
                line-height: 25px;
                width: 52%;
                padding-top: 1%;
                /* height: 40%; */
            } .brand-statement-points-second {
                width: 80%;
                /* height: 235px; */
                height: 54%;
                display: flex;
                flex-direction: column;
                align-items: center;
                /* gap: 2vh; */
            } .brand-statement-points-second > img {
                width: 50px;
                height: 50px;
            } .brand-statement-points-third {
                width: 80%;
                height: 54%;
                display: flex;
                flex-direction: column;
                align-items: center;
                /* gap: 2vh; */
            } .brand-statement-points-third > img {
                width: 50px;
                height: 50px;
} .footer {
    width: 100%;
    height: 335px;
    background-image: url('../media/websiteFooterBackground.png');
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 2.5%; */
    /* gap: 2vh; */
    } .footer-left {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-top: 2.5%; */
        /* padding-left: 7%; */
        /* gap: 1.25vh; */
    } .footer-left-top {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -5%;
        /* background-color: red; */
    } .footer-left-top > img {
        width: 20px;
        height: 68%;
        /* padding-top: 1%; */
    } .footer-left-top > h5 {
        /* background-color: red; */
                    /* background-color: red; */
                    text-align: center;
                    width: 33%;
                    height: 40%;
                    /* justify-content: center; */
                    /* padding-top: 5%; */
                    font-size: 1.12em;
                    margin: 0;
                    padding-left: 2.5%;
                    /* font-weight: 800; */
        } .footer-left > h6 {
            margin: 0;
            /* padding-right: 5%; */
            width: 14%;
            /* background-color: red; */
            } .footer-left-socials {
                width: 27%;
                height: 27px;
                display: flex;
                justify-content: space-evenly;
                /* gap: 1.5vh; */
                /* background-color: red; */
                /* padding-right: 5%; */
                padding-top: 5%;
                } .footer-left-socials > img {
                    width: 26px;
                    height: 26px;
    }.footer-right {
        width: 60%;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding-right: 2%; */
        /* padding-top: 0.5%; */
        /* background-color: red; */
        } .footer-routes {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            } .footer-single-route {
                text-decoration: none;
                color: black;
                font-size: 1em;
                font-weight: 700;
                } .footer-routes > hr {
                    transform: rotate(180);
                    height: 50%;
                    color: black;
                    /* width: 15px; */
                    border: 0.6px solid black;
                    border-radius: 2.5px;
                    margin: 0;
                    } .footer-right > p {
                    width: 100%;
                    height: 60px;
                    font-size: 0.7em;
                    /* padding-top: 1%; */
                    text-align: center;
                    } .footer > h6 {
                        font-size: 0.7em;
                        margin: 0;
                        padding-top: 3%;
                    }
}














@media (orientation: landscape) {
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
    right: 31.5vw;
    padding-top: 0.6%;
    top: 22vh;
} .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    font-size: 0.9em;
    text-align: center;
    justify-content: center;
    /* width: 80%; */
} .dropdown-content a:hover {
    background-color: #f1f1f1;
    border: none;
} #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 27px;
    z-index: 99;
    background-color: transparent;
    color: white;
    border: none;
    /* border-radius: 50%; */
    /* padding: 15px; */
    cursor: pointer;
    transition: opacity 0.3s, visibility 0.3s;
    width: 45px;
    height: 45px;
} .scrollTopIcon {
    width: 40px;
    height: 40px;
    opacity: 0.6;
} .route-selected {
    text-decoration: none;
    font-weight: 600;
    color: black;
    margin: 0;
    font-size: 0.8em;
    border-bottom: 2px solid black;
    /* margin-top: -2%; */
}





#global, body, html {
    margin: 0 auto;
    height: auto;
    width: 100%;
    font-family: 'FreightSansLight', sans-serif;
    letter-spacing: 0.7px;
}

.home-header {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
    /* background-color: red; */
    flex-direction: column;
    padding-top: 1.5%;

    /* gap: 5vw; */
    } .home-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 50%;
        /* gap: 3vw; */
        padding-top: 1.5%;
        /* background-color: blue; */
    } .logo-lotus {
        height: 38px;
        width: 24px;
    } .name-container {
        display: flex;
        /* flex-direction: column; */
        align-items: flex-end;
        justify-content: center;
        width: 90%;
        height: 50%;
        gap: 1.3vh;
        margin-top: 1%;
        margin-left: 1.7%;
        /* background-color: red; */
    } .name-container > h1 {
        font-size: 2.45em;
        /* background-color: red; */
        height: fit-content;
        margin: 0;
        /* background-color: red; */
        height: 100%;
        font-family: 'LTCushionLight';
        letter-spacing: 2px;
        font-weight: 900;
        width: 28%;
        text-align: center;
        /* background-color: red; */
        /* background-color: red; */

    } .home-name > h2 {
        padding-top: 1.5%;
        text-align: center;
        margin: 0;
        width: 100%;
        font-size: 0.65em;
        font-weight: 100;
        letter-spacing: 0.7px;
        font-family: 'LTCushionLight';
    } .home-routes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 20%;
        width: 42%;
        margin-top: 2%;
        /* padding-right: 1.5%; */
        gap: 1vh;
    } .route {
            text-decoration: none;
            color: black;
            margin: 0;
            font-size: 0.85em;
            /* width: 20%; */
            /* margin-top: -2%; */
    } .about-intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 410px;
    width: 100%;
    padding-top: 6%;
    } .about-Intro-Visual {
        width: 100%;
        height: 410px;
        size: 'cover';
} .about-intro-banner {
    background-image: url('../media/aboutIntroBanner.png');
    /* background-size: cover;  */
    background-size: cover;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8vw;
    width: 100%;
    background-repeat: no-repeat;
    } .about-intro-point-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        /* width: 20.5%; */
        gap: 0.6vh;
        width: 28%;
        color: white;
        /* padding-left: 6%; */
        /* padding-bottom: 0.8%; */
        margin: 0;
        margin-right: 2%;
        /* margin-top: 3.5%; */
        } .about-intro-point-container > h4 {
            margin: 0;
            font-size: 1.2em;
            font-family: 'FreightSansBook', sans-serif;
            letter-spacing: 1.15px;
            width: 80%;
            text-align: center;
        } .about-intro-point-container > p {
            /* background-color: red; */
            margin: 0;
            width: 90%;
            font-family: 'FreightSansBook', sans-serif;
            font-size: 0.88em;
            line-height: 17px;
            text-align: center;
} .about-brand-manifesto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 300px;
    width: 100%;
    gap: 2.5vh;
    margin-top: 10%;
    } .about-brand-manifesto > h3 {
        margin: 0;
        width: 85%;
        font-size: 1.4em;
        text-align: center;
        font-family: 'FreightSansMedium', sans-serif;
        letter-spacing: 1.5px;
        padding-bottom: 1.6%;
    } .brand-manifesto-text {
        width: 81%;
        height: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        } .brand-manifesto-text > p {
            margin: 0;
            font-size: 0.88em;
            line-height: 25px;
            letter-spacing: 0.6px;
            text-align: center;
            width: 70%;
} .about-story {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 780px;
    width: 100%;
    } .about-story-visual {
        width: 740px;
        height: 450px;
        /* padding-bottom: 3%; */
    } .about-story-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2.25%;
        height: 50%;
        width: 95%;
        gap: 4vh;
        } .about-story-text > h4 {
            margin: 0;
            width: 90%;
            font-size: 1.4em;
            font-family: 'FreightSansMedium', sans-serif;
            letter-spacing: 1.5px;
            text-align: center;
            padding-bottom: 1.5%;
        } .about-story-text > p {
            margin: 0;
            font-size: 0.88em;
            line-height: 25px;
            letter-spacing: 0.6px;
            text-align: center;
            width: 70%;
            height: 34%;
} .statement-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 100%;
    background-image: url('../media/statementBanner.png');
    background-size: cover; 
    background-repeat: no-repeat;
    /* background-size: 100%; */
    color: white;
    gap: 1.5vh;
    } .statement-banner > h4 {
        margin: 0;
        /* width: 75%; */
        font-size: 1.4em;
        font-family: 'FreightSansMedium', sans-serif;
        letter-spacing: 1.75px;
        padding-bottom: 1.8%;
    } .statement-banner > p {
        margin: 0;
        font-size: 0.9em;
        /* font-family: 'FreightSansBook', sans-serif; */
        letter-spacing: 0.6px;
        width: 65%;
        text-align: center;
        line-height: 30px;
        margin-bottom: 1.2%;
} .create-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 1220px;
    width: 100%;
    } .create-story-upper {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        height: 600px;
        width: 100%;
        padding-top: 12%;
        /* background-color: red; */

        } .create-story-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            gap: 4vh;
            text-align: center;
            } .create-story-text > h4 {
                margin: 0;
                width: 90%;
                font-size: 1.4em;
                font-family: 'FreightSansMedium', sans-serif;
                letter-spacing: 1.5px;
                padding-bottom: 1.5%;
            } .create-story-text > p {
                margin: 0;
                font-size: 0.88em;
                /* font-family: 'FreightSansBook', sans-serif; */
                letter-spacing: 0.6px;
                width: 70%;
                line-height: 25px;
        } .create-story-upper > img {
            width: 35%;
            justify-content: center;
            align-items: center;
            /* height: 400px; */
    } .create-story-banner {
        /* background-color: red; */
        height: 420px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 3.5vw;
        text-align: center;
    } .create-story-point-container {
            margin-top: -2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 90%;
            gap: 0.85vh;
            } .create-story-point-container > p {
                margin: 0;
                /* font-family: 'FreightSansBook', sans-serif; */
                font-size: 0.88em;
                line-height: 27px;
                width: 50%;
                } .create-story-point-container-title {
                    width: 50%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1vh;
                    /* padding-bottom: 3%; */
                } .create-story-point-container-title > img {
                    width: 8%;
                    margin-top: -2%;
                    height: 24px;
                } .create-story-point-container-title > h4 {
                            /* background-color: red; */
                            margin: 0;
                            font-size: 1em;
                            font-family: 'FreightSansMedium', sans-serif;
                            letter-spacing: 1.5px;
                            width: 50%;
                            text-align: center;
        } .create-story-point-container-title-first {
            width: 50%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1vh;
            /* padding-bottom: 3%; */
        } .create-story-point-container-title-first > img {
            width: 6.5%;
            height: 20px;
        } .create-story-point-container-title-first > h4 {
                    /* background-color: red; */
                    margin: 0;
                    font-size: 1em;
                    font-family: 'FreightSansMedium', sans-serif;
                    letter-spacing: 1.5px;
                    width: 43%;
                    text-align: center;
        } .create-story-point-container-title-second {
            width: 50%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1vh;
            /* padding-bottom: 3%; */
        } .create-story-point-container-title-second > img {
            width: 6.5%;
            height: 20px;
        } .create-story-point-container-title-second > h4 {
                    /* background-color: red; */
                    margin: 0;
                    font-size: 1em;
                    font-family: 'FreightSansMedium', sans-serif;
                    letter-spacing: 1.5px;
                    width: 48%;
                    text-align: center;
        }.our-promise {
            width: 100%;
            height: 240px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url('../media/aboutIntroBanner.png');
            background-size: cover; 
            gap: 1.5vh;
            /* background-size: 100%; */
            } .our-promise > h4 {
                font-size: 1.4em;
                color: white;
                margin: 0;
                font-family: 'FreightSansMedium', sans-serif;
                padding-bottom: 1.5%;
                } .our-promise > p {
                    font-size: 0.88em;
                    color: white;
                    width: 65%;
                    text-align: center;
                    margin: 0;
                    line-height: 26px;
                    height: 35%;
        } .brand-identity {
            width: 100%;
            height: 950px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            } .brand-statement {
                padding-top: 9.5%;
                /* background-color: red; */
                width: 100%;
                height: 225px;
                display: flex;
                flex-direction: column;
                align-items: center;
                /* background-color: red; */
            } .brand-statement > h4 {
                font-size: 1.4em;
                color: black;
                margin: 0;
                height: 60px;
                font-family: 'FreightSansMedium', sans-serif;
                font-weight: 800;
            } .brand-statement > p {
                font-size: 0.9em;
                color: black;
                margin: 0;
                width: 60%;
                height: 150px;
                text-align: center;
                line-height: 25px;
                /* background-color: red; */
            } .brand-statement-points {
                width: 100%;
                height: 555px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                /* gap: 1.4vh; */
                /* padding-top: 3%; */
            } .brand-statement-points-first {
                width: 80%;
                height: 305px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2vh;
                /* justify-content: center; */
            } .brand-statement-points-first > img {
                width: 50px;
                height: 50px;
                padding-bottom: 2%;
            } .brand-statement-points-text {
                width: 100%;
                height: 130px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1vh;
            } .brand-statement-points-text > h4 {
                font-size: 1em;
                margin: 0;
                font-family: 'FreightSansMedium', sans-serif;
            } .brand-statement-points-text > p {
                font-size: 0.88em;
                margin: 0;
                line-height: 25px;
                width: 40%;
            } .brand-statement-points-second {
                width: 80%;
                height: 305px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2vh;
            } .brand-statement-points-second > img {
                width: 50px;
                height: 50px;
                padding-bottom: 2%;
            } .brand-statement-points-third {
                width: 70%;
                height: 305px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2vh;
            } .brand-statement-points-third > img {
                width: 50px;
                height: 50px;
                padding-bottom: 2%;
} .footer {
    width: 100%;
    height: 335px;
    background-image: url('../media/websiteFooterBackground.png');
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 2.5%; */
    /* gap: 2vh; */
    } .footer-left {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: red; */
        /* margin-top: 2.5%; */
        /* padding-left: 7%; */
        /* gap: 1.25vh; */
    } .footer-left-top {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -2%;
        /* background-color: red; */
    } .footer-left-top > img {
        width: 20px;
        height: 68%;
        /* padding-top: 1%; */
    } .footer-left-top > h5 {
        /* background-color: red; */
                    /* background-color: red; */
                    text-align: center;
                    width: 25%;
                    height: 40%;
                    /* justify-content: center; */
                    /* padding-top: 5%; */
                    font-size: 1.12em;
                    margin: 0;
                    padding-left: 1.5%;
                    /* font-weight: 800; */
        } .footer-left > h6 {
            margin: 0;
            /* padding-right: 5%; */
            width: 14%;
            /* background-color: red; */
            } .footer-left-socials {
                width: 27%;
                height: 27px;
                display: flex;
                justify-content: space-evenly;
                /* gap: 1.5vh; */
                /* background-color: red; */
                /* padding-right: 5%; */
                padding-top: 3%;
                } .footer-left-socials > img {
                    width: 26px;
                    height: 26px;
    }.footer-right {
        width: 60%;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding-right: 2%; */
        padding-top: 1%;
        /* background-color: red; */
        } .footer-routes {
            width: 85%;
            height: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            } .footer-single-route {
                text-decoration: none;
                color: black;
                font-size: 1em;
                font-weight: 700;
                } .footer-routes > hr {
                    transform: rotate(180);
                    height: 50%;
                    color: black;
                    /* width: 15px; */
                    border: 0.6px solid black;
                    border-radius: 2.5px;
                    margin: 0;
                    } .footer-right > p {
                    width: 82%;
                    height: 60px;
                    font-size: 0.7em;
                    /* padding-top: 1%; */
                    text-align: center;
                    } .footer > h6 {
                        font-size: 0.7em;
                        margin: 0;
                        padding-top: 3%;
                    }

}




