@font-face {
    font-family: 'FreightSansLight';
    src: url('/static/font/FreightSansProLight-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansMedium';
    src: url('/static/font/FreightSansProMedium-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansSemi';
    src: url('/static/font/FreightSansProSemiBold-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansBold';
    src: url('/static/font/FreightSansProBold-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansBook';
    src: url('/static/font/FreightSansProBook-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LTCushion';
    src: url('/static/font/LTCushion-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'LTCushionLight';
    src: url('/static/font/LTCushion-Light.ttf') format('truetype');
}







@media (orientation: portrait) {
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
    right: 23.75vw;
    padding-top: 0.6%;
    top: 17vh;
} .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    font-size: 0.9em;
    text-align: center;
    justify-content: center;
    /* width: 80%; */
} .dropdown-content a:hover {
    background-color: #f1f1f1;
    border: none;
} .error-message {
    font-size: 0.85em;
    width: 90%;
    height: 40px;
} #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 27px;
    z-index: 99;
    background-color: transparent;
    color: white;
    border: none;
    /* border-radius: 50%; */
    /* padding: 15px; */
    cursor: pointer;
    transition: opacity 0.3s, visibility 0.3s;
    width: 45px;
    height: 45px;
} .scrollTopIcon {
    width: 40px;
    height: 40px;
    opacity: 0.6;
} .route-selected {
    text-decoration: none;

    color: black;
    margin: 0;
    font-size: 0.8em;
    border-bottom: 2px solid black;
    /* margin-top: -2%; */
} .contact {
    text-decoration: none;
    border-bottom: 2px solid black;
    color: black;
    font-weight: 600;
    font-size: 0.8em;
}




#global, body, html {
    margin: 0 auto;
    height: auto;
    width: 100%;
    font-family: 'FreightSansLight', sans-serif;
    letter-spacing: 0.7px;
}

.home-header {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
    /* background-color: red; */
    flex-direction: column;
    padding-top: 3%;

    /* gap: 5vw; */
    } .home-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 50%;
        /* gap: 3vw; */
        padding-top: 1.5%;
        /* background-color: blue; */
    } .logo-lotus {
        height: 38px;
        width: 24px;
    } .name-container {
        display: flex;
        /* flex-direction: column; */
        align-items: flex-end;
        justify-content: center;
        width: 90%;
        height: 44%;
        gap: 1.3vh;
        margin-top: 1%;
        margin-left: 1.7%;
        /* background-color: red; */
    } .name-container > h1 {
        font-size: 2.45em;
        /* background-color: red; */
        height: fit-content;
        margin: 0;
        /* background-color: red; */
        height: 100%;
        font-family: 'LTCushionLight';
        letter-spacing: 2px;
        font-weight: 900;
        width: 35%;
        text-align: center;
        /* background-color: red; */
    } .home-name > h2 {
        padding-top: 2.6%;
        text-align: center;
        margin: 0;
        width: 100%;
        font-size: 0.65em;
        font-weight: 100;
        letter-spacing: 0.7px;
        font-family: 'LTCushionLight';
    } .home-routes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 20%;
        width: 62%;
        margin-top: 2%;
        /* padding-right: 1.5%; */
        /* background-color: red; */
        gap: 1vh;
    } .route {
            text-decoration: none;
            color: black;
            margin: 0;
            font-size: 0.85em;
            /* width: 20%; */
            /* margin-top: -2%; */
    }  .customer-service-png {
        padding-top: 7%;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
    } .customer-service-image {
        width: 80%;
        } .contact-us {
            width: 100%;
            height: 1300px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            /* background-color: red; */
        } .contact-us > h4 {
            font-size: 1.6em;
            text-align: center;
            font-family: 'FreightSansMedium', sans-serif;
            letter-spacing: 1.5px;
        } .contact-us-bottom {
            height: 700px;
            width: 100%;
            display: flex;
            padding-top: 2%;
            flex-direction: column;
            align-items: center;
            /* background-color: red; */
        }  .contact-us-form {
            width: 80%;
            height: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* padding-left: 5%; */
        } .contact-us-form > h4 {
            font-size: 1.2em;
            margin: 0;
            width: 98%;
            text-align: center;
        } .contact-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 65%;
            width: 100%;
            gap: 4vh;
            /* margin-top: 3%; */
            /* background-color: red; */
        } .contact-form > label {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            /* padding-left: 20%; */
            width: 100%;
            height: 40%;
            /* background-color: red; */
            /* margin-left: 5.5%; */
        } .contact-label > input {
                width: 70%;
                height: 22px;
                border: none;
                background-color: #EEEEEE;
                border-radius: 4px;
                } .contact-label > h4 {
                    font-size: 0.9em;
                    text-align: start;
                    width: 70%;
                    margin: 0;
                    margin-left: 2%;
                } .contact-form> button { 
                    width: 72%;
                    height: 50px;
                    /* margin-left: 2.5%; */
                    border: none;
                    background-color: #003F4A;
                    border-radius: 4px;
                    color: white;
                    margin-top: 3.8%;
                    /* display: flex; */
                    /* text-align: center; */
            } .contact-body-label {
                    display: flex;
                    flex-direction: column;
                    /* justify-content: flex-start; */
                    align-items: flex-start;
                    width: 100%;
                    height: 250px;
                    margin-top: 3.5%;
                    } .contact-body-label > input {
                        width: 70%;
                        height: 250px;
                        border: none;
                        background-color: #EEEEEE;
                        border-radius: 4px;
                    } .contact-body-label > textarea {
                        /* background-color: red; */
                        width: 71.5%;
                        height: 250px;
                        border: none;
                        background-color: #EEEEEE;
                        border-radius: 4px;
                        resize: none;
                        padding-bottom: 5%;
        } .contact-body-label > h4 {
            font-size: 0.9em;
            text-align: start;
            width: 70%;
            margin: 0;
            margin-left: 2%;
        }.faq {
            width: 100%;
            height: 1050px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: -22%;
            /* background-color: red; */
            /* padding-bottom: 10%; */
            /* padding-left: 9%; */
            } .faq > h4 {
                font-size: 1.1em;
                margin: 0;
            } .faq-questions {
                width: 100%;
                height: 500px;
                /* padding-top: 3%; */
                /* background-color: red; */
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                } .faq-text {
                    width: 85%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 120px;
                    justify-content: center;
                    } .faq-text > h4 {
                        font-size: 1.1em;
                        margin: 0;
                        width: 100%;
                        font-family: 'FreightSansMedium', sans-serif;
                        text-align: center;
                        /* letter-spacing: 1.5px; */
                        } .faq-text > p {
                            font-size: 0.9em;
                            margin: 0;
                            width: 80%;
                            text-align: center;
                            padding-top: 0.5%;
        } .footer {
            width: 100%;
            height: 355px;
            background-image: url('../media/websiteFooterBackground.png');
            background-size: contain;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* padding-top: 2.5%; */
            /* gap: 2vh; */
            } .footer-left {
                width: 100%;
                height: 60px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                /* margin-top: 2.5%; */
                /* padding-left: 7%; */
                /* gap: 1.25vh; */
            } .footer-left-top {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: -5%;
                /* background-color: red; */
            } .footer-left-top > img {
                width: 20px;
                height: 68%;
                /* padding-top: 1%; */
            } .footer-left-top > h5 {
                /* background-color: red; */
                            /* background-color: red; */
                            text-align: center;
                            width: 33%;
                            height: 40%;
                            /* justify-content: center; */
                            /* padding-top: 5%; */
                            font-size: 1.12em;
                            margin: 0;
                            padding-left: 2.5%;
                            /* font-weight: 800; */
                } .footer-left > h6 {
                    margin: 0;
                    /* padding-right: 5%; */
                    width: 14%;
                    /* background-color: red; */
                    } .footer-left-socials {
                        width: 27%;
                        height: 27px;
                        display: flex;
                        justify-content: space-evenly;
                        /* gap: 1.5vh; */
                        /* background-color: red; */
                        /* padding-right: 5%; */
                        padding-top: 5%;
                        } .footer-left-socials > img {
                            width: 26px;
                            height: 26px;
            }.footer-right {
                width: 60%;
                height: 80px;
                display: flex;
                flex-direction: column;
                align-items: center;
                /* padding-right: 2%; */
                /* padding-top: 0.5%; */
                /* background-color: red; */
                } .footer-routes {
                    width: 100%;
                    height: 80%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    } .footer-single-route {
                        text-decoration: none;
                        color: black;
                        font-size: 1em;
                        font-weight: 700;
                        } .footer-routes > hr {
                            transform: rotate(180);
                            height: 50%;
                            color: black;
                            /* width: 15px; */
                            border: 0.6px solid black;
                            border-radius: 2.5px;
                            margin: 0;
                            } .footer-right > p {
                            width: 100%;
                            height: 60px;
                            font-size: 0.7em;
                            /* padding-top: 1%; */
                            text-align: center;
                            } .footer > h6 {
                                font-size: 0.7em;
                                margin: 0;
                                padding-top: 3%;
                            }
} 















@media (orientation: landscape) {
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
    right: 31.5vw;
    padding-top: 0.6%;
    top: 22vh;
} .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    font-size: 0.9em;
    text-align: center;
    justify-content: center;
    /* width: 80%; */
} .dropdown-content a:hover {
    background-color: #f1f1f1;
    border: none;
} .error-message {
    font-size: 0.85em;
    width: 90%;
    height: 40px;
} #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 27px;
    z-index: 99;
    background-color: transparent;
    color: white;
    border: none;
    /* border-radius: 50%; */
    /* padding: 15px; */
    cursor: pointer;
    transition: opacity 0.3s, visibility 0.3s;
    width: 45px;
    height: 45px;
} .scrollTopIcon {
    width: 40px;
    height: 40px;
    opacity: 0.6;
} .route-selected {
    text-decoration: none;

    color: black;
    margin: 0;
    font-size: 0.8em;
    border-bottom: 2px solid black;
    /* margin-top: -2%; */
} .contact {
    text-decoration: none;
    border-bottom: 2px solid black;
    color: black;
    font-weight: 600;
    font-size: 0.8em;
}



#global, body, html {
    margin: 0 auto;
    height: auto;
    width: 100%;
    font-family: 'FreightSansLight', sans-serif;
    letter-spacing: 0.7px;
}

.home-header {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
    /* background-color: red; */
    flex-direction: column;
    padding-top: 3%;

    /* gap: 5vw; */
    } .home-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 50%;
        /* gap: 3vw; */
        padding-top: 1.5%;
        /* background-color: blue; */
    } .logo-lotus {
        height: 38px;
        width: 24px;
    } .name-container {
        display: flex;
        /* flex-direction: column; */
        align-items: flex-end;
        justify-content: center;
        width: 90%;
        height: 44%;
        gap: 1.3vh;
        margin-top: 1%;
        margin-left: 1.7%;
        /* background-color: red; */
    } .name-container > h1 {
        font-size: 2.45em;
        /* background-color: red; */
        height: fit-content;
        margin: 0;
        /* background-color: red; */
        height: 100%;
        font-family: 'LTCushionLight';
        letter-spacing: 2px;
        font-weight: 900;
        width: 35%;
        text-align: center;
        /* background-color: red; */
    } .home-name > h2 {
        padding-top: 2.6%;
        text-align: center;
        margin: 0;
        width: 100%;
        font-size: 0.65em;
        font-weight: 100;
        letter-spacing: 0.7px;
        font-family: 'LTCushionLight';
    } .home-routes {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 20%;
        width: 62%;
        margin-top: 2%;
        /* padding-right: 1.5%; */
        /* background-color: red; */
        gap: 1vh;
    } .route {
        text-decoration: none;
        color: black;
        margin: 0;
        font-size: 0.85em;
        /* width: 20%; */
        /* margin-top: -2%; */
}  .customer-service-png {
    padding-top: 7%;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
} .customer-service-image {
    width: 80%;
    } .contact-us {
        width: 100%;
        height: 2500px;
        display: flex;
        flex-direction: column;
    } .contact-us > h4 {
        font-size: 1.6em;
        text-align: center;
        font-family: 'FreightSansMedium', sans-serif;
        letter-spacing: 1.5px;
    } .contact-us-bottom {
        height: 1500px;
        width: 100%;
        display: flex;
        padding-top: 2%;
        flex-direction: column;
        align-items: center;
        
    }  .contact-us-form {
        width: 60%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding-left: 5%; */
    } .contact-us-form > h4 {
        font-size: 1.2em;
        margin: 0;
        width: 98%;
        text-align: center;
    } .contact-form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 80%;
        width: 100%;
        gap: 2vh;
        margin-top: 5%;

    } .contact-form > label {
        display: flex;
        flex-direction: column;
        padding-top: 1.5%;
    
        /* gap: 5vw; */
        } .home-name {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 60%;
            width: 50%;
            /* gap: 3vw; */
            padding-top: 1.5%;
            /* background-color: blue; */
        } .logo-lotus {
            height: 38px;
            width: 24px;
        } .name-container {
            display: flex;
            /* flex-direction: column; */
            align-items: flex-end;
            justify-content: center;
            width: 90%;
            height: 50%;
            gap: 1.3vh;
            margin-top: 1%;
            margin-left: 1.7%;
            /* background-color: red; */
        } .name-container > h1 {
            font-size: 2.45em;
            /* background-color: red; */
            height: fit-content;
            margin: 0;
            /* background-color: red; */
            height: 100%;
            font-family: 'LTCushionLight';
            letter-spacing: 2px;
            font-weight: 900;
            width: 28%;
            text-align: center;
            /* background-color: red; */
            /* background-color: red; */
        } .home-name > h2 {
            padding-top: 1.5%;
            text-align: center;
            margin: 0;
            width: 100%;
            font-size: 0.65em;
            font-weight: 100;
            letter-spacing: 0.7px;
            font-family: 'LTCushionLight';
        } .home-routes {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 20%;
            width: 42%;
            margin-top: 2%;
            /* padding-right: 1.5%; */
            gap: 1vh;
        } .route {
                text-decoration: none;
                color: black;
                margin: 0;
                font-size: 0.85em;
                /* width: 20%; */
                /* margin-top: -2%; */
        }  .customer-service-png {
            padding-top: 7%;
            width: 100%;
            height: 240px;
            display: flex;
            justify-content: center;
        } .customer-service-image {
            width: 800px;
            height: 240px;
            } .contact-us {
                width: 100%;
                height: 1200px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                /* background-color: red; */
            } .contact-us > h4 {
                font-size: 1.6em;
                text-align: center;
                font-family: 'FreightSansMedium', sans-serif;
                letter-spacing: 1.5px;
            } .contact-us-bottom {
            height: 700px;
            width: 100%;
            display: flex;
            padding-top: 2%;
            flex-direction: column;
            align-items: center;
            /* background-color: blue; */
        }  .contact-us-form {
            width: 80%;
            height: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;

            /* padding-left: 5%; */
        } .contact-us-form > h4 {
            font-size: 1.2em;
            margin: 0;
            width: 98%;
            text-align: center;
        } .contact-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 65%;
            width: 700px;
            gap: 4vh;
            margin-top: 1%;
            /* background-color: red; */
        } .contact-form > label {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            /* padding-left: 20%; */
            width: 100%;
            height: 40%;
            /* background-color: red; */
            /* margin-left: 5.5%; */
        } .contact-label > input {
                width: 60%;
                height: 22px;
                border: none;
                background-color: #EEEEEE;
                border-radius: 4px;
                } .contact-label > h4 {
                    font-size: 0.9em;
                    text-align: start;
                    width: 62%;
                    margin: 0;
                    margin-left: 2%;
                } .contact-form> button { 
                    width: 74%;
                    height: 50px;
                    /* margin-left: 2.5%; */
                    border: none;
                    background-color: #003F4A;
                    border-radius: 4px;
                    color: white;
                    margin-top: 3.8%;
                    /* display: flex; */
                    /* text-align: center; */
            } .contact-body-label {
                    display: flex;
                    flex-direction: column;
                    /* justify-content: flex-start; */
                    align-items: flex-start;
                    width: 800px;
                    height: 250px;
                    margin-top: 3.5%;
                    } .contact-body-label > input {
                        width: 800px;
                        height: 250px;
                        border: none;
                        background-color: #EEEEEE;
                        border-radius: 4px;
                    } .contact-body-label > textarea {
                        /* background-color: red; */
                        width: 100%;
                        height: 250px;
                        border: none;
                        background-color: #EEEEEE;
                        border-radius: 4px;
                        resize: none;
                        padding-bottom: 5%;
        } .contact-body-label > h4 {
            font-size: 0.9em;
            text-align: start;
            width: 70%;
            margin: 0;
            margin-left: 2%;
        } .faq {
        width: 100%;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: -8%;
        /* background-color: red; */
        padding-bottom: 10%;
        /* padding-left: 9%; */
        } .faq > h4 {
            font-size: 1.2em;
            margin: 0;
        } .faq-questions {
            width: 100%;
            height: 600px;
            padding-top: 5%;
            /* background-color: red; */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            } .faq-text {
                width: 85%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 120px;
                } .faq-text > h4 {
                    font-size: 1.1em;
                    margin: 0;
                    width: 100%;
                    font-family: 'FreightSansMedium', sans-serif;
                    text-align: center;
                    /* letter-spacing: 1.5px; */
                    } .faq-text > p {
                        font-size: 1em;
                        text-align: start;
                        width: 62%;
                        margin: 0;
                        margin-left: 2%;
                        text-align: center;
                        padding-top: 1.1%;
                    } .contact-form> button { 
                        width: 60%;
                        height: 65px;
                        /* margin-left: 2.5%; */
                        border: none;
                        background-color: #003F4A;
                        border-radius: 4px;
                        color: white;
                        margin-top: 3.8%;
                        /* display: flex; */
                        /* text-align: center; */
                } .contact-body-label {
                        display: flex;
                        flex-direction: column;
                        /* justify-content: flex-start; */
                        align-items: flex-start;
                        width: 100%;
                        height: 150px;
                        margin-top: 2%;
                        } .contact-body-label > input {
                            width: 60%;
                            height: 100px;
                            border: none;
                            background-color: #EEEEEE;
                            border-radius: 4px;
                        } .contact-body-label > textarea {
                            width: 61%;
                            height: 100px;
                            border: none;
                            background-color: #EEEEEE;
                            border-radius: 4px;
                            resize: none;
            } .contact-body-label > h4 {
                font-size: 0.9em;
                text-align: start;
                width: 62%;
                margin: 0;
                margin-left: 2%;
            } .footer {
                width: 100%;
                height: 335px;
                background-image: url('../media/websiteFooterBackground.png');
                background-size: contain;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                /* padding-top: 2.5%; */
                /* gap: 2vh; */
                } .footer-left {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    /* background-color: red; */
                    /* margin-top: 2.5%; */
                    /* padding-left: 7%; */
                    /* gap: 1.25vh; */
                } .footer-left-top {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: -2%;
                    /* background-color: red; */
                } .footer-left-top > img {
                    width: 20px;
                    height: 68%;
                    /* padding-top: 1%; */
                } .footer-left-top > h5 {
                    /* background-color: red; */
                                /* background-color: red; */
                                text-align: center;
                                width: 25%;
                                height: 40%;
                                /* justify-content: center; */
                                /* padding-top: 5%; */
                                font-size: 1.12em;
                                margin: 0;
                                padding-left: 1.5%;
                                /* font-weight: 800; */
                    } .footer-left > h6 {
                        margin: 0;
                        /* padding-right: 5%; */
                        width: 14%;
                        /* background-color: red; */
                        } .footer-left-socials {
                            width: 27%;
                            height: 27px;
                            display: flex;
                            justify-content: space-evenly;
                            /* gap: 1.5vh; */
                            /* background-color: red; */
                            /* padding-right: 5%; */
                            padding-top: 3%;
                            } .footer-left-socials > img {
                                width: 26px;
                                height: 26px;
                }.footer-right {
                    width: 60%;
                    height: 80px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    /* padding-right: 2%; */
                    padding-top: 1%;
                    /* background-color: red; */
                    } .footer-routes {
                        width: 85%;
                        height: 80%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        } .footer-single-route {
                            text-decoration: none;
                            color: black;
                            font-size: 1em;
                            font-weight: 700;
                            } .footer-routes > hr {
                                transform: rotate(180);
                                height: 50%;
                                color: black;
                                /* width: 15px; */
                                border: 0.6px solid black;
                                border-radius: 2.5px;
                                margin: 0;
                                } .footer-right > p {
                                width: 82%;
                                height: 60px;
                                font-size: 0.7em;
                                /* padding-top: 1%; */
                                text-align: center;
                                } .footer > h6 {
                                    font-size: 0.7em;
                                    margin: 0;
                                    padding-top: 3%;
                                }

}