@font-face {
    font-family: 'FreightSansLight';
    src: url('/static/font/FreightSansProLight-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansMedium';
    src: url('/static/font/FreightSansProMedium-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansSemi';
    src: url('/static/font/FreightSansProSemiBold-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansBold';
    src: url('/static/font/FreightSansProBold-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansBook';
    src: url('/static/font/FreightSansProBook-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LTCushion';
    src: url('/static/font/LTCushion-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'LTCushionLight';
    src: url('/static/font/LTCushion-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'garet';
    src: url('/static/font/Garet-Book.ttf') format('truetype');
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
    } .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border: none;
    } .dropdown-content a:hover {
        background-color: #f1f1f1;
        border: none;
}



#global, body, html {
    margin: 0 auto;
    height: auto;
    width: 100%;
    font-family: 'FreightSansLight', sans-serif;
    letter-spacing: 0.7px;
}


.home-header {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
    /* background-color: red; */
    flex-direction: column;
    padding-top: 3%;

    /* gap: 5vw; */
    } .home-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 50%;
        /* gap: 3vw; */
        padding-top: 1.5%;
        /* background-color: blue; */
    } .logo-lotus {
        height: 38px;
        width: 24px;
    } .name-container {
        display: flex;
        /* flex-direction: column; */
        align-items: flex-end;
        justify-content: center;
        width: 90%;
        height: 44%;
        gap: 1vh;
        margin-top: 1%;
        /* background-color: red; */
    } .name-container > h1 {
        font-size: 2.45em;
        /* background-color: red; */
        height: fit-content;
        margin: 0;
        /* background-color: red; */
        height: 100%;
        font-family: 'LTCushionLight';
        letter-spacing: 2px;
        font-weight: 900;
    } .home-name > h2 {
        padding-top: 2.6%;
        text-align: center;
        margin: 0;
        width: 100%;
        font-size: 0.65em;
        font-weight: 100;
        letter-spacing: 0.7px;
        font-family: 'LTCushionLight';
    } .home-routes {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        width: 80%;
        /* padding-right: 1.5%; */
        gap: 5vh;
        /* background-color: red; */
        } .route {
            text-decoration: none;
            color: black;
            margin: 0;
            font-size: 0.8em;
            /* margin-top: -2%; */
    } .intro-visual-container {
        width: 100%;
        height: 140px;
        display: flex;
        align-items: flex-end;
        background-image: url('../media/openPagePhoneBackground.png');
        background-size: cover;
        background-size: 100%;
        margin-top: 16%;
    } .intro-visual-container > img {
            /* margin: 0; */
            width: 270px;
            height: 190px;
            margin-left: 13%;
            /* align-items: center; */
        } .join-button {
            margin: 0;
            width: 100%;
            text-align: center;
            } .join-button-icon {
                width: 45%;
                /* margin-left: -1.75%; */
        } .intro-container {
            margin-top: 5.5%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 500px;
            } .intro-text-container {
                /* margin-left: 7.5%; */
                width: 100%;
                height: 320px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 9%;
                gap: 2vh;
                /* justify-content: center; */
                /* gap: 3vh; */
                /* background-color: red; */
                } .intro-text-container > h3 {
                    margin: 0;
                    width: 93%;
                    font-size: .97em;
                    text-align: center;
                    font-weight: 400;
                    font-family: 'FreightSansMedium', sans-serif;
                    letter-spacing: 0.1px;
                    line-height: 28px;
                } .intro-text-container > h4 {
                    margin: 0;
                    width: 95%;
                    text-align: center;
                    font-weight: 100;
                    line-height: 27px;
                    font-size: 0.9em;
                    letter-spacing: 0.7px;
    } .banner-small-container {
        width: 100%;
        height: 80px;
        background-image: url('../media/banner1.png');
        background-size: contain;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 2vw;
        } .banner-small-container > p {
            font-size: 0.7em;
            color: white;
            letter-spacing: .5px;
            line-height: 16px;
            font-family: 'FreightSansMedium', sans-serif;
            width: 20%;
            text-align: center;
            /* background-color: red; */
        } .diamond-bullet {
            width: 1.25%;
} .dependable-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    height: 580px;
    width: 100%;
    gap: 0.5vh;
    } .dependable-container > img {
        width: 100%;
        height: 200px;
        margin: 0;
    } .dependable-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 80%;
        width: 100%;
        /* margin-left: 10%; */
        margin-top: 5%;
        gap: 2.5vh;
        } .dependable-text-container > h4 {
            font-size: 1.75em;
            font-family: 'FreightSansMedium', sans-serif;
            letter-spacing: 1px;
            font-weight: 700;
            margin: 0;
        } .dependable-paragraph {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 52%;
            width: 86%;
            /* gap: 1.75; */
            } .dependable-paragraph > p {
                font-size: 0.92em;
                font-family: 'FreightSansBook', sans-serif;
                letter-spacing: 0.25px;
                line-height: 30px;
                margin: 0;
                width: 100%;
                text-align: center;
} .purpose-banner {
    background-image: url('../media/banner2.png');
    background-size: contain;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    } .purpose-text-container {
        width: 36%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: white;
        gap: 0.5vh;
        margin-left: 1.5%;
        margin-bottom: 1%;
        } .purpose-text-container > h4 {
            font-size: 1em;
            margin: 0;
            font-family: 'FreightSansSemi', sans-serif;
            letter-spacing: 0.5px;
        } .purpose-text-container > p {
            width: 98%;
            margin: 0;
            font-size: 0.8em;
            line-height: 18px;
    } .purpose-banner > img {
        width: 200px;
        height: 180px;
        margin-top: -2.5%;
        margin-right: -2.5%;
} .blockchain-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4.5vh;
    height: 1000px;
    width: 100%;
    margin-top: 18%;
    } .blockchain-header-container {
        height: 70px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* margin-top: 7.5%; */
        } .blockchain-header-container > h4 {
            margin: 0;
            text-align: center;
            font-size: 1.35em;
            /* font-weight: 400; */
            font-family: 'FreightSansBook', sans-serif;
            letter-spacing: 1px;
            width: 100%;
            height: 20%;
    } .blockchain-header {
        height: 75px;
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vh;
        } .polkadot-nameTag {
            width: 150px;
        } .lotus-nameTag-header {
            width: 120px;
        } .blockchain-header > hr {
            transform: rotate(180);
            height: 40%;
            color: black;
            /* width: 15px; */
            border: 2px solid black;
            border-radius: 2.5px;
    } .blockchain-info {
        height: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        } .blockchain-info > p {
            margin: 0;
            width: 80%;
            height: 90%;
            text-align: center;
            font-size: 0.95em;
            line-height: 30px;
    } .blockchain-features-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 300px;
        width: 100%;
        margin-top: 3.2%;
        gap: 5vh;
        } .blockchain-feature {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 90%;
            width: 75%;
            gap: 1.2vh;
            } .blockchain-feature-images {
                width: 50px;
                height: 50px;
                align-items: center;
                justify-content: center;
                /* padding-bottom: 5%; */
                background-image: url('../media/blueBox.png');
                background-size: cover;
                background-position: center;
                border-radius: 6px;
            } .lotus-nameTag {
                width: 100%;
            } .blockchain-feature-images > img {
                width: 78%;
                padding-top: 10%;
                padding-left: 11%;
                justify-content: center;
                align-items: center;
                /* bottom: 10%; */
            } .blockchain-feature-images-2 {
                width: 50px;
                height: 50px;
                align-items: center;
                justify-content: center;
                /* padding-bottom: 5%; */
                background-image: url('../media/blueBox.png');
                background-size: cover;
                background-position: center;
                border-radius: 6px;
            } .blockchain-feature-images-2 > img {
                width: 80%;
                /* height: 30%; */
                padding-top: 17%;
                padding-left: 10%;
                justify-content: center;
                align-items: center;
            } .blockchain-feature > h5 {
                font-size: 0.9em;
                margin: 0;
                padding-top: 3.6%;
                font-weight: 900;
                text-align: center;
                font-family: 'FreightSansBook', sans-serif;
                letter-spacing: 1px;
            } .blockchain-feature > p {
                font-size: 0.86em;
                width: 85%;
                margin: 0;
                text-align: center;
                line-height: 25px;
            } .blockchain-feature-last {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                height: 90%;
                width: 75%;
                gap: 1.2vh;
                /* padding-top: 2.3%; */
                } .blockchain-feature-last-images {
                    width: 50px;
                    height: 50px;
                    align-items: center;
                    justify-content: center;
                    /* padding-bottom: 5%; */
                    background-image: url('../media/blueBox.png');
                    background-size: cover;
                    background-position: center;
                    border-radius: 6px;
                    /* margin-top: 85%; */
                } .blockchain-feature-last-images > img {
                    width: 72%;
                    /* height: 30%; */
                    /* margin-top: 12%; */
                    padding-top: 8%;
                    padding-left: 14%;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 9%;
                } .blockchain-feature-last > h5 {
                    font-size: 0.9em;
                    margin: 0;
                    padding-top: 4%;
                    padding-bottom: 2.5%;
                    font-weight: 700;
                    font-family: 'FreightSansBook', sans-serif;
                    letter-spacing: 1px;
                    text-align: center;
                } .blockchain-feature-last > p {
                    font-size: 0.86em;
                    width: 85%;
                    margin: 0;
                    text-align: center;
                    line-height: 25px;
                    margin-top: -2%;
}


