@font-face {
    font-family: 'FreightSansLight';
    src: url('/static/font/FreightSansProLight-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansMedium';
    src: url('/static/font/FreightSansProMedium-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansSemi';
    src: url('/static/font/FreightSansProSemiBold-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansBold';
    src: url('/static/font/FreightSansProBold-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansBook';
    src: url('/static/font/FreightSansProBook-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LTCushion';
    src: url('/static/font/LTCushion-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'LTCushionLight';
    src: url('/static/font/LTCushion-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'garet';
    src: url('/static/font/Garet-Book.ttf') format('truetype');
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
    } .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border: none;
    } .dropdown-content a:hover {
        background-color: #f1f1f1;
        border: none;
}



#global, body, html {
    margin: 0 auto;
    height: auto;
    width: 100%;
    font-family: 'FreightSansLight', sans-serif;
    letter-spacing: 0.7px;
}


.home-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 100%;
    /* background-color: red; */
    flex-direction: column;

    /* gap: 5vw; */
    } .home-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80%;
        width: 60%;
        gap: 1.6vw;
        padding-top: 1.5%;
        } .logo-lotus {
            height: 60px;
            width: 42px;
        } .name-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 90%;
            height: 100%;
            gap: 0.5vh;
            margin-top: 1%;
            } .name-container > h1 {
                font-size: 3em;
                height: fit-content;
                margin: 0;
                font-family: 'LTCushionLight';
                letter-spacing: 2px;
                font-weight: 900;
            } .name-container > h2 {
                margin: 0;
                width: 100%;
                font-size: 0.7em;
                font-weight: 100;
                letter-spacing: 1.25px;
                font-family: 'LTCushionLight';
    } .home-routes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20%;
        width: 80%;
        padding-right: 2.5%;
        } .route {
            text-decoration: none;
            color: black;
            margin: 0;
            font-size: 0.8em;
            margin-top: -2%;
    } .intro-visual-container {
        width: 100%;
        height: 140px;
        display: flex;
        align-items: flex-end;
        background-image: url('../media/openPagePhoneBackground.png');
        background-size: cover;
        background-size: 100%;
        margin-top: 20%;
    } .intro-visual-container > img {
            /* margin: 0; */
            width: 270px;
            height: 190px;
            margin-left: 13%;
            /* align-items: center; */
        } .join-button {
            margin: 0;
            width: 100%;
            text-align: center;
            } .join-button-icon {
                width: 32%;
                /* margin-left: -1.75%; */
        } .intro-container {
            margin-top: 2%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 500px;
            } .intro-text-container {
                /* margin-left: 7.5%; */
                width: 100%;
                height: 320px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 9%;
                gap: 2vh;
                /* justify-content: center; */
                /* gap: 3vh; */
                /* background-color: red; */
                } .intro-text-container > h3 {
                    margin: 0;
                    width: 93%;
                    font-size: .97em;
                    text-align: center;
                    font-weight: 400;
                    font-family: 'FreightSansMedium', sans-serif;
                    letter-spacing: 0.1px;
                    line-height: 28px;
                } .intro-text-container > h4 {
                    margin: 0;
                    width: 95%;
                    text-align: center;
                    font-weight: 100;
                    line-height: 27px;
                    font-size: 0.9em;
                    letter-spacing: 0.7px;
    } .banner-small-container {
        width: 100%;
        height: 70px;
        background-image: url('../media/banner1.png');
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        } .banner-small-container > p {
            font-size: 0.6em;
            color: white;
            letter-spacing: .5px;
            font-family: 'FreightSansMedium', sans-serif;
            width: 60%;
            /* text-align: center; */
        } .diamond-bullet {
            width: 1.25%;

    }


