@font-face {
    font-family: 'FreightSansLight';
    src: url('/static/font/FreightSansProLight-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansMedium';
    src: url('/static/font/FreightSansProMedium-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansSemi';
    src: url('/static/font/FreightSansProSemiBold-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansBold';
    src: url('/static/font/FreightSansProBold-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansBook';
    src: url('/static/font/FreightSansProBook-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LTCushion';
    src: url('/static/font/LTCushion-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'LTCushionLight';
    src: url('/static/font/LTCushion-Light.ttf') format('truetype');
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
    right: 20px;
    padding-top: 0.6%;
    top: 134px;
} .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    font-size: 0.9em;
    text-align: center;
    justify-content: center;
    /* width: 80%; */
} .dropdown-content a:hover {
    background-color: #f1f1f1;
    border: none;
} #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 27px;
    z-index: 99;
    background-color: transparent;
    color: white;
    border: none;
    /* border-radius: 50%; */
    /* padding: 15px; */
    cursor: pointer;
    transition: opacity 0.3s, visibility 0.3s;
    width: 45px;
    height: 45px;
} .scrollTopIcon {
    width: 40px;
    height: 40px;
    opacity: 0.6;
} .route-selected {
    text-decoration: none;
    font-weight: 600;
    color: black;
    margin: 0;
    font-size: 0.8em;
    border-bottom: 2px solid black;
    /* margin-top: -2%; */
}



#global, body, html {
    margin: 0 auto;
    height: auto;
    width: 100%;
    font-family: 'FreightSansLight', sans-serif;
    letter-spacing: 0.7px;
}

.home-header {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100%;
    /* background-color: red; */
    flex-direction: column;
    padding-top: 3%;

    /* gap: 5vw; */
    } .home-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 50%;
        /* gap: 3vw; */
        padding-top: 1.5%;
        /* background-color: blue; */
    } .logo-lotus {
        height: 38px;
        width: 24px;
    } .name-container {
        display: flex;
        /* flex-direction: column; */
        align-items: flex-end;
        justify-content: center;
        width: 90%;
        height: 44%;
        gap: 1vh;
        margin-top: 1%;
        /* background-color: red; */
    } .name-container > h1 {
        font-size: 2.45em;
        /* background-color: red; */
        height: fit-content;
        margin: 0;
        /* background-color: red; */
        height: 100%;
        font-family: 'LTCushionLight';
        letter-spacing: 2px;
        font-weight: 900;
    } .home-name > h2 {
        padding-top: 2.6%;
        text-align: center;
        margin: 0;
        width: 100%;
        font-size: 0.65em;
        font-weight: 100;
        letter-spacing: 0.7px;
        font-family: 'LTCushionLight';
    } .home-routes {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        width: 80%;
        /* padding-right: 1.5%; */
        gap: 5vh;
        /* background-color: red; */
        } .route {
            text-decoration: none;
            color: black;
            margin: 0;
            font-size: 0.8em;
            /* margin-top: -2%; */
} .product-intro {
    margin-top: 9%;
    height: 496px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    } .product-intro > img {
        height: 200px;
        width: 100%;
    } .product-intro-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 85%;
        height: 58%;
        text-align: center;
        gap: 3.3vh;
        margin-top: 9%;
        } .product-intro-text > h3 {
            margin: 0;
            width: 100%;
            font-size: 1.05em;
            font-weight: 400;
            font-family: 'FreightSansMedium', sans-serif;
            /* letter-spacing: 0.5px; */
            line-height: 24px;
        } .product-intro-text > h4 {
            margin: 0;
            width: 100%;
            font-weight: 100;
            line-height: 24px;
            font-size: 0.9em;
            /* letter-spacing: 0.3px; */
} .product-intro-banner {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../media/productBanner2.png');
    background-size: contain;
    background-size: 100%;
    } .product-intro-banner-text {
        color: white;
        margin: 0;
        width: 92%;
        height: 50%;
        text-align: center;
        font-size: 0.9em;
        line-height: 24px;
} .product-description {
    height: 1150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: red; */
    } .product-side-descriptions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 41%;
        width: 100%;
        gap: 3.75vh;
        /* background-color: red; */
        } .product-side-descriptions > img {
            width: 100%;
            /* height: 450px; */
        } .product-side-descriptions > p {
            margin: 0;
            height: 50%;
            margin-top: 3.5%;
            width: 88%;
            text-align: center;
            font-size: 0.905em;
            line-height: 30px;
            /* background-color: blue; */
    } .product-description-paragraph {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 52%;
        width: 100%;
        text-align: center;
        gap: 5vh;
        /* background-color: red; */
    } .product-description-paragraph > h5 {
        font-size: 1.1em;
        /* justify-content: flex-start; */
        margin: 0;
        padding-bottom: 5%;
        width: 100%
        
    } .product-description-point {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        align-items: center;
        gap: 2.4vh;
        /* padding-bottom: 8%; */
        /* margin-top: -4%; */
        /* background-color: red; */
    } .product-description-point > img {
        width: 45px;
    } .description-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 55%;
                width: 100%;
                gap: 1.1vh;
                text-align: center;
                } .description-text > h5 {
                    margin: 0;
                    font-size: 1em;
                    font-family: 'FreightSansMedium', sans-serif;
                } .description-text > p {
                    margin: 0;
                    font-size: 0.91em;
                    line-height: 30px;
                    width: 80%;
} .banner-points {
    background-image: url('../media/productBanner2.png');
    background-size: contain;
    background-size: 100%;
    
    width: 100%;
    height: 150px;
    } .banner-points-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 1.8vh;
        flex-direction: column;
        align-items: center;
    } .single-point {
        height: 14%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        /* background-color: red; */
    } .single-point > img {
        width: 3.5%;
    } .single-point > p {
            /* background-color: red; */
            color: white;
            margin: 0;
            width: 48%;
            font-size: 0.92em;
            font-family: 'FreightSansMedium', sans-serif;
} .single-point-second {
    height: 14%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    /* background-color: red; */
} .single-point-second > img {
    width: 3.5%;
} .single-point-second > p {
        /* background-color: red; */
        color: white;
        margin: 0;
        width: 49%;
        font-size: 0.92em;
        font-family: 'FreightSansMedium', sans-serif;
} .single-point-third {
    height: 14%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    /* background-color: red; */
} .single-point-third > img {
    width: 3.5%;
} .single-point-third > p {
        /* background-color: red; */
        color: white;
        margin: 0;
        width: 45%;
        font-size: 0.92em;
        font-family: 'FreightSansMedium', sans-serif;
} .product-overview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1155px;
    width: 100%;
    /* gap: 5vh; */
    } .overview-text {
        height: 98%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5vh;
        /* margin-top: 5%; */
        /* background-color: red; */
        } .overview-background-image {
            background-image: url('../media/productMockup2.png');
            background-size: cover;
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 40%;
            margin: 0;
        } .overview-text > img {
            width: 100%;
            align-items: end;
        } .overview-text > h4 {
            margin: 0;
            font-size: 1.6em;
            font-family: 'FreightSansMedium';
            width: 100%;
            text-align: center;
            padding-bottom: 5%;
        } .overview-text-description {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.6vh;
            width: 80%;
            height: 24%;
            text-align: center;
            /* background-color: red; */
            } .overview-text-description > h5 {
                margin: 0;
                height: 12%;
                font-size: 1.2em;
                font-family: 'FreightSansBook', sans-serif;
            } .overview-text-description > p {
                margin: 0;
                height: 88%;
                font-size: 0.9em;
                line-height: 30px;
        } .overview-text-description-last {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.8vh;
            width: 80%;
            height: 40%;
            text-align: center;
            /* margin-top: 1.5%; */
            } .overview-text-description-last > h5 {
                margin: 0;
                font-size: 1.2em;
                font-family: 'FreightSansBook', sans-serif;
            } .overview-text-description-last > p {
                margin: 0;
                font-size: 0.9em;
                line-height: 25px;
    } .product-overview > img {
        width: 564px;
} .product-features {
    width: 100%;
    height: 840px;
    background-image: url('../media/productFeaturesBackground.png');
    background-size: cover;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    } .product-features-header {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        /* background-color: red; */
        } .product-features-title {
            width: 100%;
            /* height: 50px; */
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 3vh;
            padding-top: 17%;
            /* padding-left: 7.1%; */
            } .product-features-title > h5 {
                color: white;
                font-size: 1.6em;
                text-align: center;
                width: 100%;
                height: 20%;
                margin: 0;
                font-weight: 800;
                font-family: 'FreightSansMedium';
                } .product-features-title > h6 {
                    width: 90%;
                    text-align: center;
                    font-size: 1.02em;
                    margin: 0;
                    line-height: 24px;
                } .product-features-title-benefit {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    justify-content: flex-start;
                    gap: 1vw;
                    align-items: baseline;
                    } .product-features-title-benefit > h5 {
                        color: white;
                        font-size: 1.5em;
                        width: 100%;
                        text-align: center;
                        margin: 0;
                        height: 20%;
                        opacity: .5;
                        } .product-features-title-benefit > h6 {
                            color: white;
                            margin: 0;
                            opacity: .5;
                            font-size: 1.2em;
                            width: 100%;
                            text-align: center;
        } .product-features-tagline {
            width: 60%;
            height: 50px;
            display: flex;
            justify-content: flex-end;
            gap: 1em;
            align-items: center;
            padding-right: 3%;
            } .product-features-tagline > h5 {
                width: 80%;
                margin: 0;
                color: white;
                font-size: 3vh;
                opacity: .6;
        } .product-features-descriptions {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 2vh;
            padding-top: 3%;
            /* gap: 2em; */
            } .product-features-points {
                width: 100%;
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 2vh;
                /* padding-left: 7%; */
                /* gap: 1.3em; */
                padding-top: 3%;
            } .product-features-points-text {
                width: 100%;
                height: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                /* gap: 0.2em; */
                /* background-color: red; */
            } .product-features-points-text > h5 {
                color: white;
                margin: 0;
                font-size: 2.4vh;
                width: 100%;
                /* height: 20%; */
            } .features-bullets-points {
                            /* background-color: red; */
                            width: 100%;
                            height: 70%;
                        } .features-bullets-points > p {
                            color: white;
                            margin: 0;
                            font-size: 1.8vh;
                            line-height: 16px;
                            padding-top: 2%;
            } .product-features-descriptions > img {
                width: 280px;
                height: 250px;
                margin-top: 10%;
                /* padding-right: 3%; */
            } .product-features-descriptions-long-text {
                width: 90%;
                height: 47.5%;
                text-align: center;
                color: white;
                font-size: 1.9vh;
                justify-content: center;
                /* padding-right: 7%; */
                /* padding-top: 1%; */
                line-height: 25px;
    } .product-benefits {
        width: 100%;
        height: 1120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        } .product-benefits-header {
            display: flex;
            width: 100%;
            height: 33%;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column;
            gap: 1.4vh;
            /* background-color: red; */
            /* margin-bottom: 5%; */
            } .product-benefits-header > h4 {
                font-size: 1.5em;
                width: 80%;
                text-align: center;
                /* justify-content: flex-start; */
                align-items: center;
                margin: 0;
                font-family: 'FreightSansMedium';
            } .product-benefits-header > p {
                text-align: center;
                font-size: 0.9em;
                width: 85%;
                /* padding-top: 2%; */
                /* align-items: center; */
                /* justify-content: center; */
                margin: 0;
                padding-top: 1.4%;
                line-height: 25px;
            } .product-benefits-bottom {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding-top: 14%;
                } .product-benefits-background {
                    width: 100%;
                    height: 28%;

        } .product-benefits-bottom-descriptions {
            width: 90%;
            height: 60%;
            /* padding-right: 10%; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2vh;
            padding-top: 15%;
            /* background-color: red; */
            } .product-benefits-bottom-descriptions-text {
                width: 100%;
                height: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1vh;
                /* background-color: red; */
                } .product-benefits-bottom-descriptions-text > h4 {
                    font-size: 1.2em;
                    margin: 0;
                    height: 12%;
                    width: 100%;
                    text-align: center;
                    } .product-benefits-bottom-descriptions-text > p {
                        font-size: 0.9em;
                        margin: 0;
                        height: 80%;
                        padding-top: 3%;
                        line-height: 20px;
                        width: 100%;
                        text-align: center;

                        
} .footer {
    width: 100%;
    height: 355px;
    background-image: url('../media/websiteFooterBackground.png');
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 2.5%; */
    /* gap: 2vh; */
    } .footer-left {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2.5%;
        /* background-color: red; */
        /* padding-left: 7%; */
        /* gap: 1.25vh; */
    } .footer-left-top {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -5%;
        /* background-color: red; */
    } .footer-left-top > img {
        width: 15px;
        height: 55%;
        padding-top: 1%;
    } .footer-left-top > h5 {
                    /* background-color: red; */
                    text-align: center;
                    width: 67%;
                    height: 40%;
                    /* justify-content: center; */
                    /* padding-top: 5%; */
                    font-size: 1.1em;
                    margin: 0;
                    padding-left: 2.5%;
                    /* font-weight: 800; */
        } .footer-left > h6 {
            margin: 0;
            /* padding-right: 5%; */
            width: 14%;
            /* background-color: red; */
            } .footer-left-socials {
                width: 100%;
                height: 27px;
                display: flex;
                justify-content: center;
                gap: 1.5em;
                /* padding-right: 5%; */
                padding-top: 5%;
                } .footer-left-socials > img {
                    width: 6%;
                    height: 85%;
    }.footer-right {
        width: 90%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 2%;
        /* padding-top: 0.5%; */
        /* background-color: red; */
        } .footer-routes {
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            } .footer-single-route {
                text-decoration: none;
                color: black;
                font-size: 1em;
                font-weight: 700;
                } .footer-routes > hr {
                    transform: rotate(180);
                    height: 40%;
                    color: black;
                    /* width: 15px; */
                    border: 0.6px solid black;
                    border-radius: 2.5px;
                    margin: 0;
                    } .footer-right > p {
                    width: 100%;
                    height: 60px;
                    font-size: 0.7em;
                    padding-top: 1%;
                    text-align: center;
                    } .footer-single-route > h7 {
                        font-size: 0.9em;
                        margin: 0;

                    }
    