@font-face {
    font-family: 'FreightSansLight';
    src: url('/static/font/FreightSansProLight-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansMedium';
    src: url('/static/font/FreightSansProMedium-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansSemi';
    src: url('/static/font/FreightSansProSemiBold-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansBold';
    src: url('/static/font/FreightSansProBold-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansBook';
    src: url('/static/font/FreightSansProBook-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LTCushion';
    src: url('/static/font/LTCushion-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'LTCushionLight';
    src: url('/static/font/LTCushion-Light.ttf') format('truetype');
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: none;
    right: 50px;
    padding-top: 0.6%;
    top: 85px;
} .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    font-size: 0.9em;
    text-align: center;
    justify-content: center;
    /* width: 80%; */
} .dropdown-content a:hover {
    background-color: #f1f1f1;
    border: none;
}

#global, body, html {
    margin: 0 auto;
    height: auto;
    width: 100%;
    font-family: 'FreightSansLight', sans-serif;
    letter-spacing: 0.7px;
}

.home-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 155px;
    width: 100%;
    /* background-color: red; */
    gap: 25vw;
    } .home-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80%;
        width: 30%;
        gap: 1.6vw;
        } .logo-lotus {
            height: 52%;
            width: 42px;
        } .name-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 90%;
            height: 100%;
            gap: 0.5vh;
            margin-top: 1%;
            } .name-container > h1 {
                font-size: 3em;
                height: fit-content;
                margin: 0;
                font-family: 'LTCushionLight';
                letter-spacing: 2px;
                font-weight: 900;
            } .name-container > h2 {
                margin: 0;
                width: 100%;
                font-size: 0.7em;
                font-weight: 100;
                letter-spacing: 1.25px;
                font-family: 'LTCushionLight';
    } .home-routes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 30%;
        padding-right: 2.5%;
        } .route {
            text-decoration: none;
            color: black;
} .product-intro {
    margin-top: 1%;
    height: 400px;
    width: 100%;
    background-image: url('../media/productBackground.png');
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    } .product-intro-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 430px;
        height: 100%;
        margin-left: 7.5%;
        gap: 4vh;
        } .product-intro-text > h3 {
            margin: 0;
            width: 100%;
            font-size: 1.7em;
            text-align: left;
            font-weight: 400;
            font-family: 'FreightSansMedium', sans-serif;
            letter-spacing: 0.5px;
            line-height: 42px;
        } .product-intro-text > h4 {
            margin: 0;
            width: 100%;
            text-align: left;
            font-weight: 100;
            line-height: 27px;
            font-size: 1.1em;
            letter-spacing: 0.7px;
} .product-intro-banner {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    } .product-intro-banner-text {
        margin: 0;
        width: 75%;
        height: 40%;
        text-align: center;
        font-size: 1.1em;
        line-height: 30px;
} .product-description {
    height: 639px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: red; */
    } .product-side-descriptions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 70%;

        } .product-side-descriptions > img {
            width: 850px;
            height: 450px;
        } .product-side-descriptions > p {
            margin: 0;
            height: 22%;
            margin-top: -1.5%;
            width: 88%;
            font-size: 1.1em;
            line-height: 30px;
    } .product-description-paragraph {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 36%;
        background-image: url('../media/productIntoBackground.png');
        background-size: contain;
        background-size: 100%;
        } .product-description-paragraph > h4 {
            font-size: 1.75em;
            justify-content: flex-start;
            margin: 0;
            padding-bottom: 5%;
            width: 74%
        } .product-description-point {
            height: 110px;
            width: 75%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1vw;
            /* padding-bottom: 8%; */
            margin-top: -4%;
            } .product-description-point > img {
                width: 45px;
            } .description-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                height: 25%;
                width: 100%;
                gap: 0.75vh;
                } .description-text > h5 {
                    margin: 0;
                    font-size: 1.3em;
                    font-family: 'FreightSansMedium', sans-serif;
                } .description-text > p {
                    margin: 0;
                    font-size: 0.91em;
                    line-height: 20px;
} .banner-points {
    background-image: url('../media/productBanner2.png');
    background-size: contain;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    } .single-point {
        height: 100%;
        width: 22%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1vw;
        } .single-point > img {
            width: 8.5%;
        } .single-point > p {
            color: white;
            margin: 0;
            width: 90%;
            font-size: 1.1em;
            font-family: 'FreightSansMedium', sans-serif;
} .product-overview {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-end;
    height: 650px;
    width: 100%;
    margin-top: 2%;
    } .overview-text {
        height: 70%;
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5vh;
        margin-left: 3.25%;
        } .overview-background-image {
            background-image: url('../media/productDescriptionBackgroundImage.png');
            background-size: cover;
            /* background-size: 100%; */
            width: 100%;
            height: 83%;
            margin: 0;
        } .overview-text > img {
            width: 100%;
            align-items: end;
        } .overview-text > h4 {
            margin: 0;
            font-size: 1.6em;
            font-family: 'FreightSansBook', sans-serif;
            width: 80%;
            padding-bottom: 5%;
        } .overview-text-description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.8vh;
            width: 80%;
            height: 80%;
            } .overview-text-description > h5 {
                margin: 0;
                font-size: 1.2em;
                font-family: 'FreightSansBook', sans-serif;
            } .overview-text-description > p {
                margin: 0;
                font-size: 0.9em;
                line-height: 25px;
        } .overview-text-description-last {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.8vh;
            width: 80%;
            height: 80%;
            /* margin-top: 1.5%; */
            } .overview-text-description-last > h5 {
                margin: 0;
                font-size: 1.2em;
                font-family: 'FreightSansBook', sans-serif;
            } .overview-text-description-last > p {
                margin: 0;
                font-size: 0.9em;
                line-height: 25px;
    } .product-overview > img {
        width: 564px;
} .product-features {
    width: 100%;
    height: 420px;
    background-image: url('../media/productFeaturesBackground.png');
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    } .product-features-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 2.6%;
        } .product-features-title {
            width: 40%;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-left: 7.1%;
            } .product-features-title > h5 {
                color: white;
                font-size: 4.1vh;
                margin: 0;
                } .product-features-title-benefit {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    justify-content: flex-start;
                    gap: 1vw;
                    align-items: baseline;
                    } .product-features-title-benefit > h5 {
                        color: white;
                        font-size: 6.8vh;
                        margin: 0;
                        opacity: .5;
                        } .product-features-title-benefit > h6 {
                            color: white;
                            margin: 0;
                            opacity: .5;
                            font-size: 3.1vh;
        } .product-features-tagline {
            width: 60%;
            height: 50px;
            display: flex;
            justify-content: flex-end;
            gap: 1em;
            align-items: center;
            padding-right: 3%;
            } .product-features-tagline > h5 {
                width: 80%;
                margin: 0;
                color: white;
                font-size: 3vh;
                opacity: .6;
        } .product-features-descriptions {
            width: 100%;
            height: 440px;
            display: flex;
            padding-top: 3.6%;
            gap: 2em;
            } .product-features-points {
                width: 30%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 7%;
                gap: 1.3em;
                padding-top: 3%;
                } .product-features-points-text {
                    width: 100%;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0.2em;
                    } .product-features-points-text > h5 {
                        color: white;
                        margin: 0;
                        font-size: 2.7vh;
                        width: 100%;
                        } .product-features-points-text > p {
                            color: white;
                            margin: 0;
                            font-size: 1.9vh;
                            width: 100%;
                            line-height: 16px;
            } .product-features-descriptions > img {
                width: 470px;
                height: 420px;
                padding-right: 3%;
            } .product-features-descriptions > p {
                width: 30%;
                height: 200px;
                color: white;
                font-size: 1.9vh;
                justify-content: center;
                padding-right: 7%;
                padding-top: 1%;
                line-height: 25px;
    } .product-benefits {
        width: 100%;
        height: 660px;
        } .product-benefits-header {
            display: flex;
            width: 100%;
            height: 80px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            } .product-benefits-header > h4 {
                font-size: 1.2em;
                width: 80%;
                justify-content: flex-start;
                align-items: center;
                margin: 0;
            } .product-benefits-header > p {
                font-size: 0.9em;
                width: 80%;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding-top: 1.4%;
                line-height: 25px;
            } .product-benefits-bottom {
                width: 100%;
                height: 470px;
                display: flex;
                padding-top: 7%;
                } .product-benefits-background {
                    width: 85%;
                    height: 85%;
                    background-image: url('../media/productBenefitsMockup.png');
                    background-size: cover;
                    /* background-size: 100%; */
                    /* background-repeat: no-repeat; */
                    margin: 0;

        } .product-benefits-bottom-descriptions {
            width: 65%;
            height: 400px;
            padding-right: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 6vh;
            } .product-benefits-bottom-descriptions-text {
                width: 100%;
                height: 100px;
                } .product-benefits-bottom-descriptions-text > h4 {
                    font-size: 1.2em;
                    margin: 0;
                    } .product-benefits-bottom-descriptions-text > p {
                        font-size: 0.9em;
                        margin: 0;
                        padding-top: 1%;
                        line-height: 25px;
                        width: 100%;
                        
    } .footer {
        width: 100%;
        height: 150px;
        background-image: url('../media/websiteFooterBackground.png');
        background-size: contain;
        display: flex;
        justify-content: space-between;
        padding-top: 2.3%;
        } .footer-left {
            width: 400px;
            height: 120px;
            display: flex;
            flex-direction: column;
            padding-left: 7%;
            } .footer-left-top {
                width: 100%;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                } .footer-left-top > img {
                    width: 8;
                    height: 65%;
                    padding-top: 1%;
                    } .footer-left-top > h5 {
                        width: 70%;
                        height: 50%;
                        /* justify-content: center; */
                        /* padding-top: 5%; */
                        font-size: 1.3em;
                        margin: 0;
                        padding-left: 2.5%;
                        /* font-weight: 800; */
            } .footer-left > h6 {
                margin: 0;
                padding-left: 18%;
                } .footer-left-socials {
                    width: 60%;
                    height: 50px;
                    display: flex;
                    justify-content: flex-start;
                    gap: 1em;
                    padding-left: 17.7%;
                    padding-top: 7%;
                    } .footer-left-socials > img {
                        width: 11%;
                        height: 53%;
        }.footer-right {
            width: 40%;
            height: 120px;
            display: flex;
            flex-direction: column;
            padding-right: 2%;
            /* padding-top: 0.5%; */
            } .footer-routes {
                width: 100%;
                height: 40px;
                display: flex;
                gap: 1.55em;
                align-items: center;
                } .footer-single-route {
                    text-decoration: none;
                    color: black;
                    font-size: 1.1em;
                    font-weight: 700;
                    } .footer-routes > hr {
                        transform: rotate(180);
                        height: 30%;
                        color: black;
                        /* width: 15px; */
                        border: 0.6px solid black;
                        border-radius: 2.5px;
                        margin: 0;
                     } .footer-right > p {
                        width: 400px;
                        height: 60px;
                        font-size: 0.7em;
                        padding-top: 1%;
                        }