@font-face {
    font-family: 'FreightSansLight';
    src: url('/static/font/FreightSansProLight-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansMedium';
    src: url('/static/font/FreightSansProMedium-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansSemi';
    src: url('/static/font/FreightSansProSemiBold-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansBold';
    src: url('/static/font/FreightSansProBold-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'FreightSansBook';
    src: url('/static/font/FreightSansProBook-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LTCushion';
    src: url('/static/font/LTCushion-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'LTCushionLight';
    src: url('/static/font/LTCushion-Light.ttf') format('truetype');
}

#global, body, html {
    margin: 0 auto;
    height: auto;
    width: 100%;
    font-family: 'FreightSansLight', sans-serif;
    letter-spacing: 0.7px;
}

.home-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 155px;
    width: 100%;
    /* background-color: red; */
    gap: 25vw;
    } .home-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80%;
        width: 30%;
        gap: 1.6vw;
        } .logo-lotus {
            height: 52%;
            width: 42px;
        } .name-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 90%;
            height: 100%;
            gap: 0.5vh;
            margin-top: 1%;
            } .name-container > h1 {
                font-size: 3em;
                height: fit-content;
                margin: 0;
                font-family: 'LTCushionLight';
                letter-spacing: 2px;
                font-weight: 900;
            } .name-container > h2 {
                margin: 0;
                width: 100%;
                font-size: 0.7em;
                font-weight: 100;
                letter-spacing: 1.25px;
                font-family: 'LTCushionLight';
    } .home-routes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 30%;
        } .route {
            text-decoration: none;
            color: black;
} .product-intro {
    margin-top: 1%;
    height: 400px;
    width: 100%;
    background-image: url('../media/productBackground.png');
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    } .product-intro-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 430px;
        height: 100%;
        margin-left: 7.5%;
        gap: 4vh;
        } .product-intro-text > h3 {
            margin: 0;
            width: 100%;
            font-size: 1.7em;
            text-align: left;
            font-weight: 400;
            font-family: 'FreightSansMedium', sans-serif;
            letter-spacing: 0.5px;
            line-height: 42px;
        } .product-intro-text > h4 {
            margin: 0;
            width: 100%;
            text-align: left;
            font-weight: 100;
            line-height: 27px;
            font-size: 1.1em;
            letter-spacing: 0.7px;
} .product-intro-banner {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    } .product-intro-banner-text {
        margin: 0;
        width: 75%;
        height: 40%;
        text-align: center;
        font-size: 1.1em;
        line-height: 30px;
} .product-description {
    height: 639px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: red; */
    } .product-side-descriptions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 70%;

        } .product-side-descriptions > img {
            width: 850px;
            height: 450px;
        } .product-side-descriptions > p {
            margin: 0;
            height: 22%;
            margin-top: -1.5%;
            width: 88%;
            font-size: 1.1em;
            line-height: 30px;
    } .product-description-paragraph {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 36%;
        background-image: url('../media/productIntoBackground.png');
        background-size: contain;
        background-size: 100%;
        } .product-description-point {
            height: 150px;
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1.5vw;
            } .product-description-point > img {
                width: 45px;
            } .description-text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                height: 25%;
                width: 100%;
                gap: 0.75vh;
                } .description-text > h5 {
                    margin: 0;
                    font-size: 1.6em;
                    font-family: 'FreightSansMedium', sans-serif;
                } .description-text > p {
                    margin: 0;
                    font-size: 0.95em;
                    line-height: 20px;
} .banner-points {
    background-image: url('../media/productBanner2.png');
    background-size: contain;
    background-size: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    } .single-point {
        height: 100%;
        width: 22%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1vw;
        } .single-point > img {
            width: 8.5%;
        } .single-point > p {
            color: white;
            margin: 0;
            width: 90%;
            font-size: 1.1em;
            font-family: 'FreightSansMedium', sans-serif;
} .product-overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    width: 100%;
    } .overview-text {
        height: 80%;
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3vh;
        margin-left: 3.25%;
        } .overview-text-description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.8vh;
            width: 95%;
            height: 90%;
            } .overview-text-description > h5 {
                margin: 0;
                font-size: 1.35em;
                font-family: 'FreightSansBook', sans-serif;
            } .overview-text-description > p {
                margin: 0;
                font-size: 1em;
                line-height: 25px;
        } .overview-text-description-last {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 0.8vh;
            width: 95%;
            height: 90%;
            /* margin-top: 1.5%; */
            } .overview-text-description-last > h5 {
                margin: 0;
                font-size: 1.35em;
                font-family: 'FreightSansBook', sans-serif;
            } .overview-text-description-last > p {
                margin: 0;
                font-size: 1em;
                line-height: 25px;
    } .product-overview > img {
        width: 564px;
} .product-features {
    width: 100%;
    height: 420px;
    background-image: url('../media/productFeaturesBackground.png');
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    } .product-features-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 2.6%;
        } .product-features-title {
            width: 40%;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-left: 7.1%;
            } .product-features-title > h5 {
                color: white;
                font-size: 4.1vh;
                margin: 0;
                } .product-features-title-benefit {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    justify-content: flex-start;
                    gap: 1vw;
                    align-items: baseline;
                    } .product-features-title-benefit > h5 {
                        color: white;
                        font-size: 6.8vh;
                        margin: 0;
                        opacity: .5;
                        } .product-features-title-benefit > h6 {
                            color: white;
                            margin: 0;
                            opacity: .5;
                            font-size: 3.1vh;
        } .product-features-tagline {
            width: 60%;
            height: 50px;
            display: flex;
            justify-content: flex-end;
            gap: 1em;
            align-items: center;
            padding-right: 3%;
            } .product-features-tagline > h5 {
                width: 80%;
                margin: 0;
                color: white;
                font-size: 3vh;
                opacity: .6;
        } .product-features-descriptions {
            width: 100%;
            height: 440px;
            display: flex;
            padding-top: 3.6%;
            gap: 2em;
            } .product-features-points {
                width: 30%;
                height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 7%;
                gap: 1.3em;
                padding-top: 3%;
                } .product-features-points-text {
                    width: 100%;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0.2em;
                    } .product-features-points-text > h5 {
                        color: white;
                        margin: 0;
                        font-size: 2.7vh;
                        width: 100%;
                        } .product-features-points-text > p {
                            color: white;
                            margin: 0;
                            font-size: 1.9vh;
                            width: 100%;
                            line-height: 16px;
            } .product-features-descriptions > img {
                width: 470px;
                height: 420px;
                padding-right: 3%;
            } .product-features-descriptions > p {
                width: 30%;
                height: 200px;
                color: white;
                font-size: 1.9vh;
                justify-content: center;
                padding-right: 7%;
                padding-top: 1%;
                line-height: 25px;
                }